footer {
	.page-footer {
		&__newsletter {
			margin-top: 80px;
			&__wrapper {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
				width: 100%;
				// margin: 70px 5% 0px 8%;
				align-items: center;
				-webkit-align-items: center;
				-moz-align-items: center;
				justify-content: space-between;
				-webkit-justify-content: space-between;
				-moz-justify-content: space-between;

				&:before {
					content: '';
					@include sprite-background( 'newsletter-dog');
					@include desktop {
						width: 14% !important;
					}
				}

				&.success {
					.page-footer__newsletter__form,
					.page-footer__newsletter__title {
						display: none;
					}

					.page-footer__newsletter__title--success,
					.reset-form {
						display: block;
					}
				}

				&.error {
					.page-footer__newsletter-client-email {
						border-color: #F25E04;
					}

					.page-footer__newsletter__feedback--error {
						display: block;
					}
				}

				.reset-form {
					display: none;
					border: 0;
					background: $theme-color;
					color: $white;
					text-transform: uppercase;
					@include rem( 'font-size', 14px);
					font-weight: 600;
					border-radius: 2px;
					width: 316px;
					height: 58px;
				}
			}

			&__title {
				line-height: 30px;
				@include rem( 'font-size',24px);
				color: $color-titulos;
				width: 25%;
				text-align: left;

				&--success {
					display: none;
					line-height: 30px;
					@include rem( 'font-size',24px);
					color: $color-titulos;
				}
			}

			&__form {
				width: 55%;
				position: relative;

				.page-footer__newsletter-client-email {
					border: 1px solid $gray-600;
					box-sizing: border-box;
					border-radius: 3px;
					height: 40px;
					width: 100%;
					padding-left: 15px;
					box-shadow: 0 0 0;
				}

				.page-footer__newsletter__button-ok {
					background: #2EBCCF;
					border-radius: 2px;
					border: none;
					height: 38px;
					width: 145px;
					border-left: 0;
					outline: 0;
					position: absolute;
					right: 1px;
					top: 1px;
					font-weight: bold;
					line-height: normal;
					@include rem( 'font-size',14px);
					text-align: center;
					text-transform: uppercase;
					color: $white;
					cursor: pointer;
					transition: all .3s;

					&:hover {
						opacity: 0.8;
						transition: all .3s;
					}
				}
			}

			&__feedback--error {
				display: none;
				text-align: left;
				color: #F25E04;
				@include rem( 'font-size', 12px);
				margin-top: 5px;
			}
		}

		&__itens--departaments {
			padding: 35px 0 30px;

			&-links {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
				width: 80%;
				justify-content: space-around;
				-webkit-justify-content: space-around;
				-moz-justify-content: space-around;
				margin: auto;

				a {
					@include rem( 'font-size',16px);
					text-align: center;
					text-transform: uppercase;
					color: $white;
					transition: all .3s;
					cursor: pointer;
					&:hover {
						opacity: .8;
						transition: all .3s;
					}
				}
			}
		}

		&__content {
			background-color: $theme-color;
			@include mobile{
				margin-top: -1px;
			}
			&-itens {
				background-color: $theme-color;
				border-bottom: 1px solid #D7D7D7;
			}

			&-pets {
				padding-top: 30px;

				&-links {
          display: flex;
          display: -webkit-flex;
          display: -moz-flex;
					justify-content: space-around;
					-webkit-justify-content: space-around;
					-moz-justify-content: space-around;
					width: 45%;
					margin: 0 27.5%;

					a {
						font-size: 0;
						width: 20%;
						transition: all .3s;
						cursor: pointer;

						&:before {}

						&:hover {
							opacity: .8;
							transition: all .3s;
						}
					}
				}

				&-cachorro {
					&:before {
						content: '';
						@include sprite-background( 'icon-dog-footer');
					}
				}

				&-gato {
					&:before {
						content: '';
						@include sprite-background( 'icon-cat-footer');
					}
				}

				&-passaro {
					&:before {
						content: '';
						@include sprite-background( 'icon-bird-footer');
					}
				}

				&-roedor {
					&:before {
						content: '';
						@include sprite-background( 'icon-mouse-footer');
					}
				}

				&-peixe {
					position: relative;

					&:before {
						position: relative;
						top: -8px;
						left: 1px;
						content: '';
						@include sprite-background( 'icon-fish-footer');
					}
				}
			}
		}

		&__links {
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			-moz-justify-content: space-between;
			padding: 40px 0;

			.accordion {
				text-align: left;

				&__title {
					font-weight: bold;
					// line-height: normal;
					@include rem( 'font-size',14px);
					text-transform: uppercase;
					color: $white;
					padding-bottom: 25px;
				}

				&__content {
					// line-height: 30px;
					@include rem( 'font-size',14px);
					color: $blue-light;
					margin-top:8px;
					.page-footer__item {
						padding-bottom: 20px;
						@include mobile {
							padding-bottom: 0;
						}
						.page-footer__item--link {
							border-bottom: 1px solid transparent;
							transition: all .3s;
							@include mobile{
							padding-left:12px;
							line-height: 40px;
							}
							&:hover {
								border-bottom: 1px solid white;
								transition: all .3s;
							}
						}
					}
				}

				&.atendimento {
					p {
						max-width: 200px;
						padding-right: 20px;
						line-height: 1.4;
					}

					h3 {
						@include rem( 'font-size',24px);
						font-weight: bold;
						color: $white;
						padding: 15px 0;
					}
				}

				&__midias {
					.social {
			            display: flex;
			            display: -webkit-flex;
			            display: -moz-flex;
						padding-top: 60px;
						justify-content: space-between;
						-webkit-justify-content: space-between;
						-moz-justify-content: space-between;

						&__item {
							transition: all .3s;
							&:hover {
								opacity: .8;
								transition: all .3s;
							}
						}

						.facebook {
							&:before {
								content: '';
								@include svg( 'icon-facebook', 28px, 28px);
							}
						}

						.insta {
							&:before {
								content: '';
								@include svg( 'icon-insta', 28px, 28px);
							}
						}

						.youtube {
							&:before {
								content: '';
								@include svg( 'icon-youtube', 28px, 28px);
							}
						}

						.gplus {
							&:before {
								content: '';
								@include svg( 'icon-gmail', 28px, 28px);
							}
						}
					}
				}
			}
		}

		&__info {
			font-weight: bold;
			line-height: normal;
			@include rem( 'font-size',14px);
			text-transform: uppercase;
			color: $white;
			text-align: left;

			.payment-list {
				margin: 30px 0;
				@include desktop {
					max-width: 260px;
				}
				@include mobile {
					text-align: center;
					display:inline-block !important;
				}

				&__item {
					display: inline-block;
					vertical-align: middle;
					margin-right: 8px;
					border-right: 5px;
					border-radius: 5px;
					@include desktop {
						margin-bottom: 8px;
					}

					@include mobile{
						width:130px;
						margin-top:16px;
					}

					&.amex {
						@include sprite-background( 'card-amex');
						@include mobile {
							@include sprite-background( 'card-amex');
						}
					}

					&.elo {
						@include sprite-background( 'card-elo');
						@include mobile {
							@include sprite-background( 'card-elo');
						}
					}

					&.visa {
						@include sprite-background( 'card-visa');
						@include mobile {
							@include sprite-background( 'card-visa');
						}
					}

					&.master {
						@include sprite-background( 'card-master');
						@include mobile {
							@include sprite-background( 'card-master');
						}
					}

					&.dinners {
						@include sprite-background( 'card-dinner');
						@include mobile {
							@include sprite-background( 'card-dinner');
						}
					}

					&.boleto {
						@include sprite-background( 'card-boleto');
						@include mobile {
							@include sprite-background( 'card-boleto');
						}
					}
					&.hipercard {
						@include sprite-background( 'card-hipercard');
						@include mobile {
							@include sprite-background( 'card-hipercard');
						}
					}
					&.cabal {
						@include sprite-background( 'card-cabal');
						@include mobile {
							@include sprite-background( 'card-cabal');
						}
					}
				}
			}

			&--security {
				.stamps {
					padding: 15px 0;
					@include mobile {
						text-align: center;
					}

					&__item {
						margin-right: 37px;
						vertical-align: middle;

						&:last-of-type {
							margin-right: 0;
						}

						&.ebit {
							@include sprite-background( 'stamp-1');
							@include mobile {
								@include sprite-background( 'stamp-1');
							}
						}

						&.yourviews {
							@include sprite-background( 'stamp-2');
							@include mobile {
								@include sprite-background( 'stamp-2');
							}
						}
					}
				}
			}
		}

		&__copyright {
			@extend %texto-escuro;
			@include rem( 'font-size', 12px);
			text-align: left;
			padding: 20px 20px 80px;

			p {
				margin-bottom: 10px;
				@include mobile {
					&:first-of-type {
						padding-top: 20px;
					}
					span {
						display: block;
					}
				}
			}

			.u-center {
				padding: 0 !important;
			}

			.sign {
				position: absolute;
				top: -5px;
				right: 0;
				font-size: 0;

				&--profite,
				&--vtex {
					margin: 0 20px;
				}

				&--profite {
					@include sprite-background( 'sign-profite');
				}

				&--vtex {
					@include sprite-background( 'sign-vtex');
				}
			}
		}
	}
	@include mobile {
		.page-footer {
			&__newsletter {
				padding: 0;

				.u-center {
					padding: 0;
				}

				&__wrapper {
					margin: 30px 0 0;
					display: block;

					&:before {
						content: '';
						@include sprite-background( 'newsletter-dog-mobile');
					}

					&.success{
						.reset-form{
							margin: 20px auto;
						}
					}
				}

				&__title {
					line-height: 19px;
					@include rem( 'font-size',17px);
					float: right;
					margin-top: 35px;
					text-align: left;
					width: 52%;

					&:before {
						width: 35%;
					}
				}

				&__form {
					display: block;
					background-color: $gray-lighter;
					height: auto;
					width: 100%;
					padding: 20px 15px;
					margin-top: -2px;

					.page-footer__newsletter__button-ok {
						position: relative;
						top: 0;
						right: 0;
						width: 100%;
						margin: 8px 0;
						border-radius: 3px;
					}

					.page-footer__newsletter-client-email {
						width: 100%;
						border-radius: 3px;
					}
				}
			}

			&__content-pets {
				display: none;
			}

			&__itens--departaments {
				padding: 0;

				&-links {
					width: 100%;
					margin: 0;
					flex-direction: column;
					-webkit-flex-direction: column;

					a {
						text-align: start;
						border-bottom: 1px solid #7ADAE5;
						padding: 20px 10px;
						position: relative;

						&::after {
							content: '';
							@include sprite-background( 'icon-next');
							position: absolute;
							right: 15px;
						}
					}
				}
			}

			&__content {
				& > .u-center {
					padding: 0;
				}

				&-itens{
					border-bottom: 0;
				}

				.accordion {
					&__title {
						padding: 20px 10px;
						border-bottom: 1px solid #7ADAE5;
						@include rem('font-size', 16px);
						font-weight: 400;

						&::after {
							content: '+';
							position: absolute;
							right: 15px;
							@include rem( 'font-size',16px);
						}
						&.open {
							&::after {
								content: '-';
							}
						}
					}

					&__content {
						display: none;
					}

					&__midias {
						display: none !important;
					}

					&.atendimento {
						.accordion {
							&__content {
								display: block;
								padding: 0 10px 10px;

								p {
									max-width: 100%;
									color: $white;
									line-height: 32px;
								}

								h3{
									padding: 0;
								}
							}

							&__title {
								border: 0;

								&:after {
									content: '';
								}
							}
						}
					}
				}
			}

			&__links {
				flex-direction: column;
				-webkit-flex-direction: column;
				padding: 0;
				border-top: 2px solid #fff;
			}

			&__info {
				&--payment {
					border-bottom: 1px solid #7ADAE5;
					border-top: 1px solid #7ADAE5;
					padding: 15px 10px;

					.title{
						@include rem('font-size', 16px);
					}

					.payment-list {
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
						justify-content: space-between;
						-webkit-justify-content: space-between;
						-moz-justify-content: space-between;
					}
				}

				&--security {
					.title {
						display: none;
					}
				}
				&--midias{
					display: block !important;
					.social {
						padding: 30px 0;
						justify-content: space-around;
						display: flex;
					    display: -webkit-flex;
					    display: -moz-flex;
					    &__item {
							transition: all .3s;
							&:hover {
								opacity: .8;
								transition: all .3s;
							}
						}
						.facebook {
							&:before {
								content: '';
								@include svg( 'icon-facebook', 36px, 36px);
							}
						}

						.insta {
							&:before {
								content: '';
								@include svg( 'icon-insta', 36px, 36px);
							}
						}

						.youtube {
							&:before {
								content: '';
								@include svg( 'icon-youtube', 48px, 36.48px);
							}
						}

						.gplus {
							&:before {
								content: '';
								@include svg( 'icon-gmail', 56.12px, 36px);
							}
						}
					}
				}
			}

			&__copyright {
				& > .u-center {
					margin-top: 55px;
				}

				.sign {
					left: 0;
					top: -60px;
          display: flex;
          display: -webkit-flex;
          display: -moz-flex;
					justify-content: space-around;
					-webkit-justify-content: space-around;
					-moz-justify-content: space-around;

					&--profite {
						@include sprite-background( 'sign-profite-mobile');
					}

					&--vtex {
						@include sprite-background( 'sign-vtex-mobile');
					}

					a {
						font-size: 0;
						margin: 0;
					}
				}
			}
		}
	}
}
