.page-header {
	position: fixed;
	z-index: 20;
	top: 0;
	@include mobile {
		background-color: #2EBCCF;
		.nav-active & {
			z-index: 1000002;
		}
	}

	&__middle {
		background-color: $theme-color;
		height: 127px;
		vertical-align: middle;
		@include display-flex;
		transition: all 0.3s ease-in-out;

		@include mobile{
			height: 64px;
			padding: 0 16px;

			& > .u-center {
				margin-top: 0px;
				height: 55px;
				margin-bottom: 0px;
			}


			.icon-menu {
				font-size: 0;
				@include sprite-background( 'icon-menu');
				display: block;
				position: relative;
			}

			.icon-arrow-left {
				position: absolute;
				@include sprite-background( 'arrow-left');
				z-index: 10;
				top: 20px;
				left: 0;
				display: none;

				&.active-search{
					display: block;
				}
			}

			.icon-search{
				@include svg( 'icon-lupa-white', 20px, 20px);
				@include mobile{
					position: absolute;
				    top: 0;
				    bottom: 0;
				    right: 60px;
				    margin: auto;
				}
			}
		}

		.u-center {
			@include display-flex;
			@include justify-content(space-between);
			@include align-items(center);
		}

		label,
		legend,
		select {
			display: none;
		}

		&--logo {
			transition: all 0.3s ease-in-out;
			width: 22%;

			img {
				width: 100%;
				height: auto;
				transition: all 0.3s ease-in-out;
			}

			@include mobile{
				width: 112px;

				img {
					width: 100%;
					margin-left: 25%;
				}
			}
		}

		&--search {
			display: block;
			line-height: 1;
			width: 460px;

			@include mobile{
				display: none;
				position: absolute;
				top: -6px;
				left: -16px;
				height: 64px;
				width: calc(100% + 32px);
				z-index: 9;
				transition: all 1s;
				background: linear-gradient(110.56deg, #2ECACE 0%, rgba(46, 189, 206, 0) 100%), #2EBDCE;

				&.active-search{
					display: block;
				}

				&:before {
					content: '';
					@include svg( 'icon-lupa-white', 20px, 20px);
					transition: all 1s;
					margin-top: 22px;
					margin-left: 50px;
					transition: all 1s;
				}

				.busca {
					display: inline-block;
					transition: all 1s;
					width: calc(100% - 85px);
					margin-left: 10px;

					input{

						&.fulltext-search-box {
							box-shadow: 0 0 0 0;
							margin: 0;
							height: 64px;
							color: $white;
							@include rem( 'font-size',24px);
							border-radius: 0;
							outline: none;
							transition: all 1s;
							background: transparent;
							padding-right: 50px;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						&.btn-buscar {
						    outline: none;
						    width: 25px;
						    height: 25px;
						    top: 20px;
						    left: -33px;
						    background-image: none;
						}
					}
				}



				&.active-search {


				}
			}

			.busca {
				position: relative;

				.fulltext-search-box {
					width: 100%;
					max-width: 480px;
					height: 35px;
					@include rem( 'font-size', 14px);
					border: none;
					padding: 0 8px;
					box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
					border-radius: 3px;
					color: $gray;
					font-family: $font-textos;
				}

				.btn-buscar {
					position: absolute;
					top: 10px;
					right: 15px;
					-moz-appearance: none;
					-webkit-appearance: none;
					appearance: none;
					font-size: 0;
					@include svg( 'icon-lupa', 16px, 16px);
					background-color: transparent;
					border: none;
					cursor: pointer;
				}
			}

			html.floating-menu & {
				display: none;
			}

			label,
			legend,
			select {
				display: none;
			}
		}

		&--block {
			@include display-flex;

			@include mobile{
				display: block;
			}
		}

		&--televendas {
			@include rem( 'font-size',10px);
			color: $white;
			font-weight: bold;
			border-right: 1px solid $white;
			padding-right: 20px;
			padding-top: 2px;

			span {
				@include rem( 'font-size',12px);
				display: block;
				padding-top: 8px;
			}

			@include mobile{
				display: none;
			}
		}

		&--user {
			color: $white;
			font-weight: bold;
			@include rem( 'font-size',14px);
			padding-left: 20px;

			a {
				text-decoration: underline;

				&.links--account {
					border-right: 1px solid $white;
					padding-right: 5px;
					cursor: pointer;
				}

				&.links--orders {
					padding-left: 5px;
					cursor: pointer;
				}
			}

			.links {
				padding-top: 5px;

				@include mobile{
					display: flex;
					display: -webkit-flex;
					display: -moz-flex;
					justify-content: center;
					-webkit-justify-content: center;
					-moz-justify-content: center;
					padding-top: 22px;

					a {
						text-decoration: none;
						border: 1px solid #FFFFFF;
						box-sizing: border-box;
						border-radius: 3px;
						height: 32px;
						width: 116px;
						display: block;
						text-align: center;
						margin: 0 10px;
						line-height: 32px;
					    font-weight: 400;
					    font-size: 12px;
					}
				}
			}


			@include mobile{
				z-index: 9;
				background-color: $theme-color;
				width: calc(100% + 32px);
				display: block;
				position: absolute;
				left: -16px;
				height: 120px;
				top: 0;

				.wellcome-message {
					@include rem( 'font-size',24px);
					padding-left: 26px;
					padding-top: 15px;
					font-weight: normal;

					&::before {
						content: '';
						@include sprite-background( 'arrow-left');
						position: absolute;
						left: 20px;
						top: 20px;
					}
				}
			}
		}

		&-mobile {
			position: fixed;
			left: -100%;
			top: 0;
			z-index: 9;
			width: 100%;
			opacity: 0;
			transition: all 0.6s;
		}
	}

	&__navigation {
		background: $blue-bold;
		height: 50px;
		color: $white;

		&--itens {
			&.u-center {
				padding: 0;
				height: 100%;
			}

			@include mobile{
				z-index: 9;
				background-color: $white;
				color: $black;
				margin-top: 67px;
			}
		}

		&--content {
			@include display-flex;
			@include justify-content(space-between);
			height: 50px;
			font-weight: bold;
			@include rem( 'font-size',14px);
			@include mobile {
				padding-bottom: 50px;
			}

			@include desktop{
				& > li:first-child {
					border: none;
					padding: 0;
					min-width: 55%;
				}
			}

			li.first{
				display: none;
			}
			li.menu-list{
				display: block !important;
				border: none;
			    padding: 0;
			    min-width: 55%;
					@include desktop {
						min-width: 533px;
					}
			}
			.brandFilter{
				display: none !important;
			}
			.menu-departamento{
				h3{
					display: inline-block;
					padding: 18px 12px;
					cursor: pointer;
					a.menu-item-texto{
						text-transform: uppercase;
					}
					@include mobile{
						display: block;
					    padding: 0px !important;
					    // height: 51px;
					    width: 100%;
					    border-bottom: 1px solid #E0E0E0;
    					border-left: 0;
    					position: relative;
					    a.menu-item-texto{
					    	text-transform: initial;
					    	display: flex;
						    align-items: center;
						    height: 51px;
							width: 50%;
						    margin-left: 10px;
					    }
					    &:after{
				    		content: '+';
						    position: absolute;
						    right: 15px;
						    font-size: 16px;
						    font-size: 1rem;
						    color: #2EBCCF;
						    top: 18px;

				    	}
						&.open {
							&:after {
								content: '-';
							}
						}
					}
					@include desktop{
						&:hover{
							> ul{
								display: block;
							}
						}
					}
				}
				ul{
					display: none;
				    position: absolute;
				    z-index: 9;
				    background-color: #fff;
				    color: #666;
				    box-shadow: 0 0 4px rgba(0,0,0,0.15);
				    border-radius: 3px;
				    top: 50px;
				    @include mobile{
				    	position: relative;
    					top: 0;
				    }
				    @include desktop{
				    	&:before {
							content: '';
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 10px 10px 10px;
							border-color: transparent transparent $white transparent;
							position: absolute;
							top: -8px;
							z-index: 9;
							left: 15px;
						}
				    }
				    li{
				    	display: inline-block;
				    	cursor: pointer;
				    	padding: 18px 15px;
						@include desktop {
							@include rem('font-size', 16px);
						}
				    	@include mobile{
				    		background-color: #f0f0f0;
    						display: block;
				    	}
				    }
				}
			}

			& > li:last-child {
				border-right: 1px solid $theme-color;
		    padding: 18px 13px;
			}

			& > li {
				border-left: 1px solid $theme-color;
				padding: 18px 10px;
			}

			li {
				cursor: pointer;
				&.item-departament{
					padding: 0;

					ul > a{
						padding: 18px 8px;
					}

					@include desktop{
						&:hover{
							.page-header__navigation--sub-departament{
								display: block;
							}
						}
					}
				}
			}

			@include mobile{
				display: block;
				height: 100%;
				overflow: hidden;
				overflow-y: auto;

				li {
					border-bottom: 1px solid $gray-600;
					border-left: 0;

					&:last-child{
						border-right: 0;
					}
				}
			}
		}

		&--sub-departament {
			display: none;
			position: absolute;
			z-index: 9;
			background-color: $white;
			color: $gray;
			box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
			border-radius: 3px;
			top: 50px;

			&:before {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent $white transparent;
				position: absolute;
				top: -8px;
				z-index: 9;
				left: 15px;
			}

			&-itens {
				li {
					padding: 18px 15px;
					@include desktop {
						@include rem('font-size', 16px);
					}
          display: inline-block;
					@include mobile{
            background-color: $gray-lighter;
            display: block;
					}
				}
			}

			@include mobile{
				position: relative;
				top: 0;

				&:before {
					display: none;
				}
			}
		}

		&--departament {
			@include display-flex;
			@include justify-content(space-between);

			> li {
				padding: 18px 15px;

				@include mobile{
					padding: 0;
					border-bottom: 1px solid $gray-600;
					position: relative;
				}

				@include desktop{
					&:hover {
						.page-header__navigation--sub-departament {
							display: block;
						}
					}
				}

				> a{
					text-transform: uppercase;
				}

				ul li:first-child {
					padding: 18px 15px;

					@include mobile{
						padding: 0;
					}
				}

				&:first-child {
					padding-left: 0;
				}
			}

			@include mobile{
				background-color: $white;
				border-bottom: 1px solid #BDBDBD;
				display: block;

				> li {

					> a {
						padding: 18.5px 15px;
						display: block;

						&::after {
							content: '+';
							position: absolute;
							right: 15px;
							@include rem( 'font-size',16px);
							color: $theme-color;
						}
					}

					.page-header__navigation--sub-departament {
						display: none;

						&-itens {
							li{
								padding: 0;

								&:after {
									content: '';
								}

								a{
									padding: 18px 15px;
									display: block;
								}
							}
						}


					}

					&.active {
						.page-header__navigation--sub-departament {
							display: block;
							position: relative;
							top: 0;
							box-shadow: none;
							border-radius: 0;
							transition: all 0.6s;

						}
					}
				}

				.item-departament &{
					background: transparent;
					border: 0;

					&.open > a::after {
						content: '-';
					}

					> a{
						display: block;
						position: relative;

						&::after {
							content: '+';
							position: absolute;
							right: 15px;
							@include rem( 'font-size',16px);
							color: $theme-color;
						}
					}
				}
			}
		}

		@include mobile{
			height:  calc(100vh - 120px);
			position: absolute;
			left: -100%;
			top: 120px;
			z-index: 8;
			width: 100%;
			transition: all 350ms linear;

			.nav-active &{
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
			}
		}

	}

	@include mobile {

		&:after {
			content: '';
			width: 100%;
			height: 8px;
			background-color: $blue-bold;
			position: absolute;
			top: 56px;
		}

		&__bottom,
		&__middle--block {
			display: none;

			.nav-active &{
				display: block;
			}
		}
	}

	.header__cart {
		right: 12px;

		@include mobile {
			right: 0;
		}

		.icon-cart {
			transform: scale(0.8);
		}

		// &--ammount {
		// 	display: none;
		// }
	}

	@include screen (737px, 1200px) {
		.page-header__middle--televendas {
			display: none;
		}

		.page-header__middle--logo {
			width: 25%;

			img {
				width: 158px;
				height: 56px;
				margin-left: 15px;
			}
		}

		.page-header__middle--search {
			width: 35%;
		}
	}

	.nav-active {
		overflow: hidden;

		.page-content {
			height: 100%;
			overflow: hidden;
			position: fixed;
			z-index: 9;
		}

		.page-header__middle-mobile,
		.page-header__navigation {
			left: 0;
			opacity: 1;
			transition: all 0.6s;
		}

		.page-header__navigation {
			height: 100%;
			overflow: auto;
		}

		.page-header__navigation--itens {
			overflow-y: scroll;
			height: 100%;
		}

		.page-header__navigation--content {
			overflow-y: scroll;
			min-height: 800px;
		}
	}
}

@include mobile{
	.page-header{
		@include mobile{
			.item-sub-departament{
				background-color: #f0f0f0;
				a{
					&:after{
						content: '';
					    position: absolute;
					    right: 15px;
					    font-size: 16px;
					    font-size: 1rem;
					    color: #2EBCCF;
					    //@include sprite-background('icon-arrow-left-menu');
					    @include sprite-background( 'icon-arrow-left-menu');
					}
				}
			}
		}
		&__navigation{
			&--item{
				padding: 0px !important;
				height: 51px;
				width: 100%;
			}
			&--subitem{
				padding: 0px !important;
				height: 51px;
				width: 100%;
			}
			&--sublink{
				display: flex;
			    align-items: center;
			    height: 100%;
			    margin-left: 10px;
			}
			&--departament{
				a{
					background-color: #f0f0f0;
				}
			}
			.item-departament{
				padding: 0px !important;
				// height: 51px;
				width: 100%;
				border-top: 2px solid #BDBDBD;
				.link{
					display: flex;
				    align-items: center;
				    height: 51px;
				    &::after {
						content: '+';
						position: absolute;
						right: 15px;
						@include rem( 'font-size',16px);
						color: $theme-color;
					}
				}
				.page-header__navigation--sub-departament-itens{
					li{
						padding: 0px !important;
						height: 51px;
						width: 100%;
						a{
							display: flex;
						    align-items: center;
						    height: 100%;
						    margin-left: 10px;
						}
					}
				}
			}
			&--link{
				display: flex;
			    align-items: center;
			    height: 100%;
			    margin-left: 10px;
			    &::after {
					content: '+';
					position: absolute;
					right: 15px;
					@include rem( 'font-size',16px);
					color: $theme-color;
				}
			}
		}
	}
}
