body {
  background-color: #ffffff !important;
}

html.nav-active,
.nav-active body {
    overflow: hidden;
}

.login {
  overflow: hidden;

  .login-content {
    min-height: 90px;
  }
}

.header-float {
  main {
    margin-top: 180px !important;
    transition: all 0.3s ease-in-out;
  }

  .page-header__middle {
    height: 80px;
    transition: all 0.3s ease-in-out;

    .page-header__middle--logo {
      img {
        width: 70%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.u-center {
  width: 100%;
  margin: auto;
  position: relative;
  @media (min-width: 1060px) {
    width: 1060px;
  }
}

.active {
  display: block !important;
}

.overlay {
  transition-delay: 0s, 0s, 0.3s;

  &.active {
    transition-delay: 0s, 0s, 0.3s;
    background: #47352E;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

#ajaxBusy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  p {
    animation: preloader 2s infinite ease-in-out;
    height: 5px;
    background: #1AA7B7;
    text-indent: -9999px;
    font-size: 0px;
  }
}
@keyframes preloader {
  from {width: 0px;}
  to {width: 100%;}
}
@include desktop {
  .mobile-only {
    display: none !important;
  }

  main {
    margin-top: 177px !important;
    transition: all 0.3s ease-in-out;
  }
}
@include mobile {
  .desktop-only {
    display: none !important;
  }

  .overlay {
    transition-delay: 0s, 0s, 0.3s;

    &.disable {
      display: none;
    }
  }

  main {
    margin-top: 64px !important;
  }
}
// Animation
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
