.institucional {
  .main-page__content {
    // border-bottom: 1px solid $sand;
    margin-bottom: 7%;
  }

  .main-page__content {
    .accordion {
      position: relative;
      border: 1px solid $border-color;
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid $border-color;
      }

      &-control {
        @extend %subtitulo-title;
        cursor: pointer;
        padding: 10px 20px;
        text-align: left;
        position: relative;

        h3 {
          line-height: 39px;
          margin: 0 auto !important;
        }

        i {
          position: absolute;
          top: 25px;
          right: 25px;
          cursor: pointer;
          @include sprite-background(arrow-down);
          @include transition(all 250ms);
        }

        svg {
          position: absolute;
          top: 20px;
          right: 20px;
          transition: all .3s ease;
        }

        &:hover {
          background: $bg-accordion;
        }
      }

      &-content {
        @extend %texto-corrido;
        padding: 40px;
        display: none;
        line-height: 24px;

        strong {
          color: $black;
        }

        p + strong {
          margin-top: 20px;
        }

        p {
          color: #666;
        }
      }

      &.opened {
        .accordion {
          &-control {
            background: $bg-accordion;

            i, svg {
              // @include sprite-background(arrow-up);
              @include transform(rotate(180deg));
              transition: all .3s ease;
            }
          }
        }
      }
    }
  }
  @include screen(737px, 1024px) {
    .accordion {
      &-control {
        padding: 0 20px;

        h3 {
          @include rem( 'font-size', 15px);
          line-height: 47px;
        }

        i {
          top: 19px;
        }
      }
    }
  }
}
