%btn-reset {
    cursor: pointer;
    text-align: center;
    @include transition(all 250ms);
    @include box-shadow(none);
    @include border-radius($default-radius);
    text-shadow: none;
}

%btn-secondary {
    @extend %botao-negativo;
    @extend %btn-reset;
    background: transparent;
    border: 1px solid $border-color;
    &:hover, &:focus, &:active, &.active, &.disabled {
        border-color: darken($border-color, 10%);
        color: $color-botao-negativo;
    }
    &[disabled]{
        border-color: lighten($border-color, 10%);
        color: $color-botao-negativo;
    }
}

%btn-product {
    display: block;
    background: #2EBCCF;
    border-radius: 3px;
    height: 50px;
    padding: 16px 0;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

%btn-primary {
    @extend %botao-positivo;
    @extend %btn-reset;
    background-color: $theme-color;
    border: none;
    font-weight: 600;
    &:hover, &:focus, &:active, &.active {
        background: lighten($theme-color, 10%);
        color: $color-botao-positivo;
    }
    &[disabled]{
        color: $color-botao-positivo;
        background: lighten($theme-color, 35%);
    }
}
