.buytogether {
    margin: 100px 0;
    #divTitulo {
        font-size: 0;
        text-align: center;
        &::before {
            content: "Compre junto";
            @extend %headline-title;
        }
    }
    .buy {
        padding-right: 3px;
        & > strong {
            display: none !important;
        }
        &-text {
            .total {
                @include rem('font-size', 24px);
                display: block;
                line-height: 29px;
                font-weight: 600;
                color: $gray;
            }

            .installment {
                @extend %texto-escuro;
                display: block;
                &--times {}
                &--price {}
            }
        }
        #lnkComprar {
            @extend %btn-primary;
            font-size: 0;
            display: block;
            &::before {
                content: 'Comprar junto';
                @include rem('font-size', 14px);
                display: block;
            }
        }
    }
    @include mobile {
        padding: 30px 10px 0;
        margin: 0;
        .buy-together {
            display: none;
        }
        h4 {
            font-size: 0;
            margin-bottom: 20px;
            &::before {
                content: 'Compre junto';
                text-transform: uppercase;
                @include rem('font-size', 18px);
                color: $black;
                font-weight: 500;
                margin-left: 10px;
            }
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        tr {
            display: block;
            position: relative;
            &:nth-child(1n+2) {
                display: none;
            }
        }
        td {
            display: inline-block;
        }
        .itemA,
        .itemB {
            width: 49%;
            border: none;
            a {
                display: block;
            }
            h3 {
                display: none;
            }
        }
        .plus {
            font-weight: bold;
            font-size: 30px;
            color: $gray;
            line-height: inherit;
            width: 20px;
            height: 20px;
            // line-height: 20px;
            text-align: center;
            @include border-radius(50%);
            background-color: $white;
            // color: $black;
            // font-weight: 500;
            @include rem('font-size', 18px);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -85px;
            margin-left: -13px;
        }
        .equal,.more {
            display: none;
        }
        .buy {
            display: block;
            padding: 20px 10px;
            text-align: center;
            &-text {
                .total {}
                .installment {
                    &--times {}
                    &--price {}
                }
            }
        }
        #lnkComprar {
            display: block;
            // width: 100%;
            height: 40px;
            line-height: 40px;
            // margin-top: 20px;
            border-radius: 3px;
            width: 80%;
            margin: 20px auto 0;
            // text-transform: uppercase;
            // background-color: $black;
            // color: $white;
            // @include rem('font-size', 12px);
            // font-weight: 500;
            // text-align: center;
        }
    }
    @include desktop{
        #divTitulo{
            text-align: center;
            display: block;
            margin: 80px 0;
            &::before {
                @include rem('font-size', 30px);
            }
        }
        .itemA, .itemB{
            padding-bottom: 30px;
            width: 250px;
            height: 250px;
            img {
                width: 100%;
                height: auto;
            }
            h3{
                a{
                    display: none;
                }
            }
        }
        .plus, .equal {
            font-family: $font-textos;
            @include rem('font-size', 52px);
            font-weight: 500;
            color: $gray;
            text-align: center;
            vertical-align: middle;
            padding: 0 50px;
            font-weight: bold;
        }
        // .equal{
        //     display: none;
        // }
        .buy{
            padding-left: 80px;
            vertical-align: middle;
            text-align: center;
            line-height: 20px;
            &-text {
                .total {
                    @include rem('font-size', 30px);
                }
                .installment {
                    @include rem('font-size', 18px);
                }
            }
            #lnkComprar{
                width: 220px;
                height: 45px;
                line-height: 44px;
                margin: 20px 0;
                background: #2EBCCF;
                border-radius: 3px;
            }
            strong{
                display: inline-block;
                margin-bottom: 10px;
            }
            .more{
                display: none;
            }
        }
        hr{
            display: none;
            // border-bottom: 1px solid #e5e5e5;
            // border-top: 0px;
            // height: 0px;
            // margin-top: 30px;
            // margin-bottom: 0;
        }
    }
    @include screen(737px, 1024px) {
        #divTitulo {
            margin-bottom: 25px;
        }
        .buy-text {
            .total {
                @include rem('font-size', 24px);
            }
            .installment {
                @include rem('font-size', 15px);
            }
        }
        #divCompreJunto {
            & > table {
                width: 99.5%;
            }
        }
    }
}