%input-text {
    @extend %txtbox-placeholder;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid $border-color;
    @include border-radius($default-radius);
    outline: none;
    &:focus {
        outline: none;
    }
}
