.header__cart {
    // min-width: 80px;
    position: relative;

    &--ammount {
        @include border-radius(50%);
        background-color: #FFF;
        width: 20px;
        height: 20px;
        @include rem( 'font-size', 9px);
        text-align: center;
        line-height: 20px;
        position: absolute;
        right: -6px;
        top: -4px;
        font-weight: bold;
    }

    .icon-cart {
        @include sprite-background( 'icon-cart');
        display: block;
    }

    &-minicart {
        visibility: hidden;
        opacity: 0;
        @include transform(translateY(-1em));
        z-index: 1;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        width: 400px;
        position: absolute;
        right: 15px;
        background: $white;
        @include box-shadow(0px 4px 10px 0px rgba(0, 0, 0, 0.2));
        max-height: 516px;
        z-index: 999;
        top: -20px;
        @include transform(translateY(0%));

        &.active {
            visibility: visible;
            opacity: 1;
            z-index: 99;
            transition-delay: 0s, 0s, 0.3s;
        }

        &--minha-sacola {
            font-weight: bold;
            line-height: 40px;
            @include rem( 'font-size', 18px);
            text-transform: uppercase;
            color: #666666;
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            border-bottom: 1px solid #E0E0E0;
            padding: 20px 15px;

            &:before {
                content: '';
                @include sprite-background( 'sacola');
                display: block;
                margin-right: 25px;
                margin-left: 60px;
            }

            .icon-close-cart {
                display: none;
            }
        }

        &--link {
            cursor: pointer;
        }

        &--products {
            max-height: 230px;
            overflow: auto;
            & > li {
                padding: 30px 15px 10px;
            }

            a {
                display: flex;
                display: -webkit-flex;
                display: -moz-flex;
                align-items: center;
                -webkit-align-items: center;
                -moz-align-items: center;
            }

            .removeItem {
                @include sprite-background('icon-remove');
                cursor: pointer;
            }
        }

        &--actions {
            border-top: 1px solid #E0E0E0;
            padding: 15px 18px;
            margin-top: 15px;

            li {
                &:nth-child(1) {
                    padding: 25px 10px;
                }

                &:nth-child(2) {
                    background-color: #2EBCCF;
                    height: 55px;
                    font-weight: bold;
                    line-height: normal;
                    @include rem( 'font-size', 18px);
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    border-radius: 3px;
                    padding: 17px;
                }
            }
        }

        &--total {
            font-weight: bold;
            line-height: normal;
            @include rem( 'font-size', 18px);
            color: #47352E;

            em {
                line-height: 18px;
                @include rem( 'font-size', 14px);
                text-align: right;
                color: #47352E;
                float: right;
                font-weight: normal;
            }
        }

        &--data {
            @include rem( 'font-size', 12px);
            color: #666666;
            width: 80%;
            padding: 0 25px;
            position: relative;

            li {
                &:nth-child(1) {
                    line-height: 18px;
                    padding-bottom: 10px;
                }
            }

            &-price {
                font-weight: bold;
                @include rem( 'font-size', 14px);
                color: #47352E;
            }
        }

        &--empty {
            margin: 0 auto;
            text-align: center;

            p {
                // @include font-mix($font-textos, 16px, 400, $gray);
                display: block;
                margin-top: 20px;
            }

            span {
                // @include font-mix($font-textos, 14px, 400, #999999);
                display: block;
                margin-top: 10px;
            }

            .icon-cart-empty {
                @include sprite-background( 'sacola');
                margin: 20px;
            }

            &-content {
                border-top: 1px solid #E0E0E0;
                padding: 15px;
            }
        }
    }
    // &:hover {
    //     .header__cart-minicart {
    //         visibility: visible;
    //         opacity: 1;
    //         z-index: 1;
    //         @include transform(translateY(0%));
    //         transition-delay: 0s, 0s, 0.3s;
    //     }
    // }
    @include mobile {
        &-minicart {
            &.active {
                width: 100%;
                right: 0;
                top: -8px;
            }

            &--products {
                overflow: scroll;
                max-height: 240px;
            }

            &--minha-sacola {
                &:before{
                    margin-left: 0;
                }

                .icon-close-cart {
                    display: block;
                    @include sprite-background( 'icon-close-cart');
                    position: absolute;
                    right: 15px;
                    margin-top: 10px;
                    transform: scale(.8);
                }
            }
        }
    }
}
