.prateleira {
  &__item {
    position: relative;
    min-height: 316px;
  }
  &__image {
    padding-bottom: 10px;
    img {
      width: 100%; // height: auto;
      min-height: 196px;
    }
  }
  &-assinatura {
    &>ul {
      // display: flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      width: 100%;
      li {
        width: 25%;
        padding: 25px 15px 25px;
      }
    }
  }
  &__name {
    @include rem( 'font-size', 12px);
    color: #47352E;
    display: block;
    height: auto;
    overflow: hidden;
    // text-align: center;
		line-height: 1.4;
    font-weight: 400;
    text-transform: initial;
    @include mobile{
      height: 65px;
    }
  }
  &__brand {
    @include rem( 'font-size', 10px);
    text-transform: uppercase;
    color: #C4C4C4;
    .brand {
      padding: 10px 0px;
    }
  }
  &__price {
    @include rem( 'font-size', 12px);
    color: $color-titulos;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
  &__list-price {
    display: block;
    color: $gray-light;
    @include rem( 'font-size', 12px);
    text-decoration: line-through;
    padding-bottom: 5px;
  }
  &__out-of-stock {
    width: 20px;
    @include rem( 'font-size', 14px);
    display: block;
    float: left;
    color: $color-titulos;
    padding-top: 10px;
    font-weight: bold;
  }
  &__best-price {
    font-weight: bold;
    @include rem( 'font-size', 18px);
  }
  &__number-installment {
    display: none;
  }
  &__view-product {
    background: #2EBCCF;
    color: #FFFFFF;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    @include rem( 'font-size', 12px); // display: block;
    position: absolute;
    height: 40px;
    width: 46%;
    right: 0px;
    bottom: 0px;
    padding: 14px 0px;
    transition: all .3s;
    &:hover {
      opacity: 0.8;
      transition: all .3s;
    }
  }
  &__flags {
    &--hightlight {
      .flag {
        background: #EC6A05;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        font-weight: bold;
        line-height: normal;
        @include rem( 'font-size', 12px);
        text-align: center;
        color: #FFFFFF;
        width: 80px;
        height: 24px;
        padding: 5px;
        position: absolute;
        top: 20px;
      }
    }
  }
  @include mobile {
    &-assinatura {
      ul {
        li {
          margin: 0;
          width: 50%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .slick-prev {
        top: auto;
        bottom: -10px;
        left: 0px;
        &:before {
          content: '';
          @include svg('arrow-banner-left-gray', 12px, 16px);
        }
      }
      .slick-next {
        top: auto;
        bottom: -10px;
        right: 0px;
        &:before {
          content: '';
          @include svg('arrow-banner-right-gray', 12px, 16px);
        }
      }
      .slick-list {
        padding-bottom: 10px;
      }
      .slick-dots {
        bottom: -15px;
        width: 100%;
        margin: 0 auto;
        li {
          padding: 0px;
          margin: 0px;
          width: 10px;
          margin: 0 5px;
          button {
            height: 10px;
            width: 10px;
            background-color: #E0E0E0;
            border-radius: 50%;
          }
          &.slick-active {
            button {
              background-color: #2EBCCF;
            }
          }
        }
      }
    }
    &__content {
      min-height: 78px;
    }
    &__view-product {
      width: 100%;
      margin: 15px 0;
      @include rem('font-size', 14px);
    }
    &__flags {
      &--hightlight {
        display: none;
      }
    }
    &__image {
      img {
        min-height: 1px;
        max-width: 136px;
      }
    }
    &__price {
      bottom: 68px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .prateleira {
    &-assinatura {
      &>ul {
        li {
          width: 225px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
