.menu-departamento {
    padding-left: 20px;
    .productClusterSearchableIds,
    .search-single-navigator {
        display: none !important;
    }
    .menu-navegue {
        display: none;
    }
    .bt-refinar {
        display: none;
    }
    .search-multiple-navigator{
        h3,h1 {
            font-family: $font-gotham-rounded;
            @include rem('font-size', 24px);
            display: block;
            margin-bottom: 30px;
            color: $green;
            text-transform: uppercase;
        }
        h4:first-of-type,
        ul:empty {
            display: none !important;
        }
        h5,h4 {
            color: $black;
            font-family: $font-gotham-medium;
            @include rem('font-size', 14px);
            text-transform: uppercase;
            display: block;
        }
        fieldset,ul {
            margin-bottom: 40px;
        }
        label,li {
            display: block;
            margin: 15px 0;
            input {
                display: none;
            }
            .sr_text,a {
                font-family: $font-gotham-medium;
                color: $black;
                @include rem('font-size', 12px);
                cursor: pointer;
            }
            a{
                //margin-left: 28px;
            }
            .sr_text{
                &:before {
                    content: '';
                    border: 1px solid $gray-400;
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    vertical-align: bottom;
                    margin-right: 13px;
                }
            }
            &.sr_selected {
                .sr_text {
                    &:before {
                        content: '\2713';
                        color: $green;
                        text-align: center;
                        line-height: 16px;
                    }
                }
            }
        }
    }
    .search-single-navigator {
        h3,
        h4 {
            display: block;
            a {
                color: $black;
                font-family: $font-gotham-medium;
                @include rem('font-size', 14px);
                text-transform: uppercase;
                margin-bottom: 20px;
                display: block;
            }
        }
        h5 {
            color: $black;
            font-family: $font-gotham-medium;
            @include rem('font-size', 14px);
            text-transform: uppercase;
            margin-bottom: 20px;
            display: block;
        }
        h1 {
            display: block;
            a {
                font-family: $font-gotham-rounded;
                @include rem('font-size', 24px);
                display: block;
                margin-bottom: 30px;
                color: $green;
                text-transform: uppercase;
            }
        }
        ul {
            margin-bottom: 40px;
            li {
                display: block;
                margin-bottom: 10px;
                font-family: $font-gotham-medium;
                color: $black;
                @include rem('font-size', 14px);
                cursor: pointer;
            }
        }
    }
    .ver-filtros{
      @include rem( 'font-size', 12px);
      color: #6cc071;
    }
}

@media screen and (max-width: $width-mobile) {
    .menu-departamento {
        padding-left: 0;
        .search-multiple-navigator, .search-single-navigator {
            h1{
              padding: 20px 0px 0px 20px;
              margin-bottom: 20px;
            }
            h4{
                background: $gray-100;
                padding: 15px;
                margin-bottom: 2px !important;
                width: 100%;
                color: $gray-300;
                @include rem('font-size', 12px);
                position: relative;
                cursor: pointer;
                display: block;
                &+ul{
                    margin-bottom: 0;
                    li{
                        padding: 15px;
                        margin: 0px;
                        a {
                            color: $black;
                            @include rem('font-size', 14px);
                        }
                    }
                }
            }
            h5,h3 {
                background: $gray-100;
                padding: 15px;
                margin-bottom: 2px;
                width: 100%;
                color: $gray-300;
                @include rem('font-size', 12px);
                position: relative;
                cursor: pointer;
                display: block;
                &:after {
                    content: '';
                    @include svgimg("svg/down-arrow-mobile.svg", 10px, 5px);
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 20px;
                    transition: all 0.3s;
                }
            }
            h3{
                display: none;
            }
            fieldset {
                margin-bottom: 0px;
                & > div {
                    max-height: 0;
                    transition: all 0.3s;
                    overflow: hidden;
                }
                &.active {
                    & > div {
                        max-height: 1000px;
                        transition: all 0.3s;
                    }
                    h5 {
                        &:after {
                            transform: rotate(180deg);
                            transition: all 0.3s;
                        }
                    }
                }
                label {
                    padding: 15px;
                    margin-bottom: 0px;
                    .sr_text,a {
                        color: $black;
                        @include rem('font-size', 14px);
                    }
                }
            }
        }
        .ver-filtros{
          padding: 0 15px;
        }

    }
    .resultado-busca{
        .menu-departamento{
            .search-single-navigator {

                    h3 {
                        display: block;
                        &:first-child a,a{
                            margin-bottom: 0;
                        }
                        &:after{
                            display: none;
                        }
                        a{
                            color: $black;
                            font-family: $font-gotham-medium;
                            @include rem('font-size', 14px);
                            text-transform: uppercase;
                            display: block;
                        }

                        & + ul{
                            margin-bottom: 0px;

                            li{
                                padding: 15px;
                                margin-bottom: 0px;
                            }
                        }

                    }

            }
        }
    }

}
