.footer {
    height: auto;
    padding: 35px 0 16px;
    background: $bg-footer;
    display: inline-block;
    width: 100%;
    
    .container {
        margin-bottom: 30px;
    }

    .u-center{
		max-width: 945px;
		width: 100%;
		margin: 0 auto;
    	clear: both;
    }

    &__box {
    	width: 60%;
        float: left;
        // margin-left: 5%;
        &:nth-child(2) {
            margin: 0 5%;
            width: 50%;
        }
    }
	&__title{
        margin-bottom: 20px;
		@extend %headline;
		// margin-bottom: 16px;
		text-transform: initial;
        font-size: 18px;
        font-family: Lato;
        color: $white;
        font-weight: 400;
	}
	&__content{
        font-family: $font-textos;
        @include rem('font-size', 14px);
        font-weight: 400;
        color: $gray-light;
		margin-bottom: 26px;
	}
    .payment{

		&__method {
			margin-right: 4px;
            border-radius: 5px;
            font-size: 0;
            
            &.amex {
                @include sprite-background( 'card-amex');
                @include mobile {
                    @include sprite-background( 'card-amex');
                }
            }
            
            &.elo {
                @include sprite-background( 'card-elo');
                @include mobile {
                    @include sprite-background( 'card-elo');
                }
            }
            
            &.visa {
                @include sprite-background( 'card-visa');
                @include mobile {
                    @include sprite-background( 'card-visa');
                }
            }
            
            &.master {
                @include sprite-background( 'card-master');
                @include mobile {
                    @include sprite-background( 'card-master');
                }
            }
            
            &.dinners {
                @include sprite-background( 'card-dinner');
                @include mobile {
                    @include sprite-background( 'card-dinner');
                }
            }
            
            &.boleto {
                @include sprite-background( 'card-boleto');
                @include mobile {
                    @include sprite-background( 'card-boleto');
                }
            }
            &.hipercard {
                @include sprite-background( 'card-hipercard');
                @include mobile {
                    @include sprite-background( 'card-hipercard');
                }
            }
            &.cabal {
                @include sprite-background( 'card-cabal');
                @include mobile {
                    @include sprite-background( 'card-cabal');
                }
            }
		}

	}
    .stamp {
		&__list {
			margin-right: 20px;
            display: flex;
            align-items: center;
		}
		&__item {
			text-indent: -9999px;
			display: none;
			visibility: hidden;
			float: left;
            transform: scale(.8);
			@each $stamp in $stamp-list {
	            &.#{$stamp} {
					visibility: visible;
					@include sprite-background('#{$stamp}');
				}
	        }
		}
	}
	&__item{
		margin-bottom: 10px;

        &--highlight {
            border: 1px solid $border-color;
            font-size: 12px;
            width: 100%;
            text-align: center;
            line-height: 16px;
            padding: 27px 9px;
            margin-bottom: 10px;
            font-family: $theme-font;
        }
	}
    hr{
    	clear: both;
    	margin: 15px 0;
        border-top: 0px solid #eee;
    }
    &__copyright{
        font-family: $font-textos;
        @include rem('font-size', 12px);
        font-weight: 400;
        color: $gray-light;
    	float: left;
    	width: 93%;
        text-align: center;
        span{
            font-size: 12px;
            font-family: Lato;
            color: $white;
        }
    }
    &__poweredby{
    	@include sprite-background('icon-profite');
    	float: right;
    	width: 7%;
    }


    @include screen(737px, 1024px){
    	.u-center{
    		padding: 0 15px;
    		background: $white;
    	}
    	&__box {
            width: 46%;
            margin-right: 2%;
            &:nth-child(2) {
                margin: 0;
                width: 46%;
            }
            &:nth-child(1) {
                // left: 360px;
                .footer__item {
                    // border: 1px solid $gray-light;
                    padding: 10px;
                    text-align: center;
                }
            }
            &:last-child {
                width: 100%;
                .footer__content {
                    margin-bottom: 0;
                    br {
                        display: none;
                    }
                }
            }
            .footer__item {
                &--highlight {
                    border: 0;
                    border-top: 1px solid $border-color;
                    padding: 10px 0 0;
                    text-align: left;
                    font-size: 10px;
                    margin: 0;
                }
            }
        }
		hr{
			margin: 0;
			border-color: $white;
		}
    	&__copyright{
			float: none;
			width: 100%;
			text-align: center;
			padding-bottom: 20px;
    	}
    	&__poweredby{
			display: none;
    	}
    }

    @include mobile{
    	height: auto;
    	position: relative;
        padding: 40px 0px 16px;

        .container {
            margin-bottom: 0px;
        }
        .footer{
            padding: 40px 0 16px;
        }
    	.u-center{
    		padding: 0 15px;
    	}
    	&__box{
    		width: 100%;
            margin: 0px;
            padding: 15px;
    		&:nth-child(1){
				left: 360px;
				.footer__item{
					border: 1px solid $gray-light;
					padding: 10px;
					text-align: center;
				}
    		}
    		.footer__item{
				&--visa,
				&--mastercard,
				&--amex,
				&--dinners,
				&--elo{
					margin-right: 0px;
				    width: 19%;
				}
    		}
    		&:nth-child(2){
                margin: 0px;
			    // margin-bottom: 30px;
                width: 100%;
			}
    		&:nth-child(3){
    			position: absolute;
    			bottom: 0px;
    			left: 15px;
    			.footer__content{
    				ul{
    					li{
    						float: left;
    					}
    				}
    			}
    		}
            .stamp__list {
                width: 100%;
            }
        }
    	hr{
    		// display: none;
    	}
    	&__copyright{
			// padding-left: 5px;
            padding: 15px 15px;
			width: 95%;
			position: relative;
			// top: -30px;
    	}
    }
}
