<!DOCTYPE html>
<html class="no-js" lang="pt-br" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="PARCEIROPET - includes-header" />
</head>

<body>
    <div class="page-wrapper">

        <div class="page-content">

            <!-- subtemplate header -->
            <vtex:template id="PARCEIROPET - header" />
            <!-- subtemplate header -->

            <main role="main">
                <section class="sec-title u-center">
                    <h2 class="page-title">Marcas</h2>
                </section>
                <section class="filters">
                    <div class="filters__nav">
                        <ul class="filters__nav-list u-center">
                            <li class="filters__nav-options A-E active" data-letter="A-E">
                                <a href="#linkAE" class="filters__nav--link">A - E</a>
                            </li>
                            <li class="filters__nav-options F-J" data-letter="F-J">
                                <a href="#linkFJ" class="filters__nav--link">F - J</a>
                            </li>
                            <li class="filters__nav-options K-O" data-letter="K-O">
                                <a href="#linkKO" class="filters__nav--link">K - O</a>
                            </li>
                            <li class="filters__nav-options P-T" data-letter="P-T">
                                <a href="#linkPT" class="filters__nav--link">P - T</a>
                            </li>
                            <li class="filters__nav-options U-Y" data-letter="U-Y">
                                <a href="#linkUY" class="filters__nav--link">U - Y</a>
                            </li>
                            <li class="filters__nav-options Z-123" data-letter="Z-123">
                                <a href="#linkZ123" class="filters__nav--link">Z - 123</a>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="brand__wrapper">
                    <div class="u-center">
                        <div class="brand__list-block A-E active" id="linkAE">
                            <article class="brand brand--A">
                                <h4 class="brand__title">A</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--B">
                                <h4 class="brand__title">B</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--C">
                                <h4 class="brand__title">C</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--D">
                                <h4 class="brand__title">D</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--E">
                                <h4 class="brand__title">E</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="brand__list-block F-J" id="linkFJ">
                            <article class="brand brand--F">
                                <h4 class="brand__title">F</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--G">
                                <h4 class="brand__title">G</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--H">
                                <h4 class="brand__title">H</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--I">
                                <h4 class="brand__title">I</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--J">
                                <h4 class="brand__title">J</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="brand__list-block K-O" id="linkKO">
                            <article class="brand brand--K">
                                <h4 class="brand__title">K</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--L">
                                <h4 class="brand__title">L</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--M">
                                <h4 class="brand__title">M</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--N">
                                <h4 class="brand__title">N</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--O">
                                <h4 class="brand__title">O</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="brand__list-block P-T" id="linkPT">
                            <article class="brand brand--P">
                                <h4 class="brand__title">P</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--Q">
                                <h4 class="brand__title">Q</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--R">
                                <h4 class="brand__title">R</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--S">
                                <h4 class="brand__title">S</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--T">
                                <h4 class="brand__title">T</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="brand__list-block U-Y" id="linkUY">
                            <article class="brand brand--U">
                                <h4 class="brand__title">U</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--V">
                                <h4 class="brand__title">V</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--W">
                                <h4 class="brand__title">W</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--X">
                                <h4 class="brand__title">X</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--Y">
                                <h4 class="brand__title">Y</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="brand__list-block Z-123" id="linkZ123">
                            <article class="brand brand--Z">
                                <h4 class="brand__title">Z</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                            <article class="brand brand--123">
                                <h4 class="brand__title">123</h4>
                                <ul class="brand__list">
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                    <li class="brand__item">
                                        <a href="" class="brand__item--link"></a>
                                    </li>
                                </ul>
                            </article>
                        </div>
                    </div>
                </section>
            </main>
            <!-- page-main -->

            <div class="c-both"></div>
        </div>
        <!-- page-content -->

        <!-- subtemplate footer -->
        <vtex:template id="PARCEIROPET - footer" />
        <!-- subtemplate footer -->

    </div>
    <!-- page-wrapper -->

    <!-- scripts -->
    <vtex:template id="PARCEIROPET - includes-scripts" />
    <!-- scripts -->
</body>

</html>
