<!DOCTYPE html>
<html class="no-js" lang="pt-br" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="PARCEIROPET - includes-header" />
</head>

<body>
    <div class="l-wrapper">
        <!-- subtemplate header -->
        <vtex:template id="PARCEIROPET - header" />

        <!-- subtemplate header -->

        <main role="main" class="l-main">
            <div class="doacao__header">
                <div class="u-center">
                    <h1 class="doacao__header-title">
                        Faça doação para ONG
                    </h1>
                    <div class="doacao__header-text">
                        <vtex:contentPlaceHolder id="descricao" />
                    </div>
                </div>
            </div>

            <div class="doacao__content">
                <div class="u-center">
                    <ul class="doacao__list">
                        
                    </ul>
                </div>
            </div>
        </main>
        <!-- page-main -->

        <div class="c-both"></div>

        <!-- subtemplate footer -->
        <vtex:template id="PARCEIROPET - footer" />
        <!-- subtemplate footer -->

    </div>
    <!-- page-wrapper -->

    <!-- scripts -->
    <vtex:template id="PARCEIROPET - includes-scripts" />
    <script src="/files/tags-catalog.js" async="true"></script>
    <!-- scripts -->
</body>

</html>