<!DOCTYPE html>
<html class="no-js" lang="pt-br" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

    <head>
        <vtex:template id="PARCEIROPET - includes-header" />
    </head>

    <body>
        <div class="page-wrapper">

            <div class="page-content">

                <!-- subtemplate header -->
                <vtex:template id="PARCEIROPET - header" />
                <!-- subtemplate header -->

                <main role="main">
                    <section class="main__pitbar">
                        <ul class="main__pitbar--itens">
                            <li class="main__pitbar--itens-sub"><i class="icon home-boleto"></i><div>5% de desconto no<span>pagamento por boleto</span></div></li>
                            <li class="main__pitbar--itens-sub"><i class="icon home-frete"></i><div>Frete grátis acima de <span>R$ 119,00 (Sul e Sudeste)</span></div></li>
                            <li class="main__pitbar--itens-sub"><i class="icon home-parcelamento"></i><div>Parcelamento em<span>até 6x sem juros</span></div></li>
                            <li class="main__pitbar--itens-sub"><i class="icon home-seguro"></i><div>Site 100% seguro</div></li>
                        </ul>
                    </section>
                    <section class="main__banner">
                        <div class="u-center">
                            <noscript>
                                <div class="desktop">
                                    <vtex:contentPlaceHolder id="main-gallery Desktop" />
                                </div>
                                <div class="mobile">
                                    <vtex:contentPlaceHolder id="main-gallery Mobile" />
                                </div>
                            </noscript>

                        </div>
                    </section>
                    <section class="main__brands">
                        <div class="main__brands-content">
                            <vtex:contentPlaceHolder id="main-brands" />
                        </div>
                    </section>
                    <section class="main__assinatura">
                        <div class="main__assinatura-content">
                            <div class="main__assinatura-block u-center">
                                <div class="main__assinatura-content-texto">
                                    <vtex:contentPlaceHolder id="main-assinatura-title" />
                                    <vtex:contentPlaceHolder id="main-assinatura-sub-title" />
                                    <vtex:contentPlaceHolder id="main-assinatura-link" />
                                </div>
                                <div class="main__assinatura-shelf">
                                <div class="main__assinatura-opcoes">
                                    <h3 class="main__assinatura-opcoes--title">ESCOLHA O PET</h3>
                                    <ul>
                                        <li class="main__assinatura-opcoes-cachorro active-animal" title="CACHORRO">CACHORRO</li>
                                        <li class="main__assinatura-opcoes-gato" title="GATO">GATO</li>
                                        <li class="main__assinatura-opcoes-passaro" title="PASSARO">PASSARO</li>
                                        <li class="main__assinatura-opcoes-roedor" title="ROEDOR">ROEDOR</li>
                                        <li class="main__assinatura-opcoes-peixe" title="PEIXE">PEIXE</li>
                                    </ul>
                                </div>
                                <div class="main__assinatura-shelf--animals">
                                    <div class="main__assinatura-shelf--animals content-animals active-animal cachorro">
                                        <vtex:contentPlaceHolder id="assinatura-shelf-cachorro" />
                                    </div>
                                    <div class="main__assinatura-shelf--animals content-animals gato">
                                        <vtex:contentPlaceHolder id="assinatura-shelf-gato" />
                                    </div>
                                    <div class="main__assinatura-shelf--animals content-animals passaro">
                                        <vtex:contentPlaceHolder id="assinatura-shelf-passaro" />
                                    </div>
                                    <div class="main__assinatura-shelf--animals content-animals roedor">
                                        <vtex:contentPlaceHolder id="assinatura-shelf-roedor" />
                                    </div>
                                    <div class="main__assinatura-shelf--animals content-animals peixe">
                                        <vtex:contentPlaceHolder id="assinatura-shelf-peixe" />
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </section>
                    <section class="main__banners-ofertas">
                        <div class="main__banners-ofertas-shelf u-center">
                            <vtex:contentPlaceHolder id="banners-ofertas" />
                        </div>
                    </section>
                    <section class="main__shelf first u-center">
                        <ul class="main__shelf-list">
                            <li class="main__shelf-alimentos active-departament" title="Alimentos">Alimentos</li>
                            <li class="main__shelf-roupas" title="Roupas">Roupas</li>
                            <li class="main__shelf-acessorios" title="Acessorios">Acessorios</li>
                            <li class="main__shelf-medicamentos" title="Medicamentos">Medicamentos</li>
                            <li class="main__shelf-higiene" title="Higiene">Higiene e Beleza</li>
                        </ul>
                        <div class="u-center main__shelf-wrapper alimentos active-departament">
                            <vtex:contentPlaceHolder id="first-shelf-alimentos" />
                        </div>
                        <div class="u-center  main__shelf-wrapper roupas">
                            <vtex:contentPlaceHolder id="first-shelf-roupas" />
                        </div>
                        <div class="u-center main__shelf-wrapper acessorios">
                            <vtex:contentPlaceHolder id="first-shelf-acessorios" />
                        </div>
                        <div class="u-center main__shelf-wrapper medicamentos">
                            <vtex:contentPlaceHolder id="first-shelf-medicamentos" />
                        </div>
                        <div class="u-center main__shelf-wrapper higiene">
                            <vtex:contentPlaceHolder id="first-shelf-higiene" />
                        </div>
                    </section>
                </main><!-- page-main -->

                <div class="c-both"></div>
            </div><!-- page-content -->

            <!-- subtemplate footer -->
            <vtex:template id="PARCEIROPET - footer" />
            <!-- subtemplate footer -->

        </div><!-- page-wrapper -->

        <!-- scripts -->
        <vtex:template id="PARCEIROPET - includes-scripts" />
        <!-- scripts -->
    </body>
</html>
