<!DOCTYPE html>
<html class="no-js" lang="pt-br" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="PARCEIROPET - includes-header" />
</head>

<body> 
    <div class="page-wrapper"> 
        <div class="page-content">
            <!-- subtemplate header -->
            <vtex:template id="PARCEIROPET - header" /> 
            <!-- subtemplate header -->
            <main role="main">
                <div class="bread-crumb u-center">
                    <vtex.cmc:breadCrumb />
                </div>
                <div class="product u-center">
                    <div class="product__block one">
                        <div class="product__wrapper image">
                            <vtex.cmc:ProductImage/>
                        </div>
                        <div class="product__wrapper middle">
                            <div id="brand">
                                <vtex.cmc:brandName/>
                            </div> 
                            <span class="product-reference mobile-only">
                                <vtex.cmc:productReference/>
                            </span>
                            <div class="product__info--name">
                                <vtex.cmc:productName/>
                            </div>
                            <div class="product__info--rating">
                                <vtex.cmc:evaluationRate/>
                                <a href="#review" class="product__info--rating-review">Avalie este produto</a>
                                <span class="product-reference desktop-only">
                                    <vtex.cmc:productReference/>
                                </span>
                            </div>
                            <div class="product__info--informations">
                                <vtex.cmc:ProductDescription/>
                                <span class="product__info--informations-more">Ver mais</span>
                            </div>
                        </div>
                        <div class="product__wrapper info">
                            <div class="product__info--notifyme">
                                <vtex.cmc:BuyButton/>
                            </div>
                            <div class="product__wrapper-box">
                                <div class="product__info--price">
                                    <vtex.cmc:skuPrice/>
                                </div>
                                <div class="product__info--similares">
                                  <vtex:contentPlaceHolder id="Similares" />
                                </div>
                                <!-- <div class="product__info-skuSelection">
                                    <vtex.cmc:skuSelection />
                                    <vtex.cmc:stockKeepingUnitAmountAndUnitSelection />
                                </div> -->
                            </div>
                            <div class="product__info--buy-button">
                                <a href="#" class="buy-button" id="buy-button-cart">Adicionar ao carrinho</a>
                                <div class="product__info--sign">
                                    <a href="#" class="product__info--sign-btn">Assinar Produto</a>
                                </div>
                            </div>
                            <div class="product__info--shipping">
                                <div class="shipping-box">
                                    <vtex.cmc:shippingValue />
                                    <script type="text/javascript">
                                        $(document).ready(function() {
                                            ShippingValue();
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="product__info--gift-list">
                                <vtex.cmc:GiftListInsertSkuV2 />
                            </div>
                        </div>
                    </div>
                    <div class="product__block two">
                        <div class="buytogether">
                            <vtex.cmc:BuyTogether/>
                        </div>
                    </div>
                    <div class="product__block tree">
                        <div class="product__info--details">
                            <div class="specification-wrapper">
                                <vtex.cmc:productSpecification/>
                            </div>
                        </div>
                    </div>
                    <div class="product__block four">
                        <vtex:contentPlaceHolder id="ColecaoQCCT" />
                    </div>
                    <!-- <div class="product__block five">
                        <vtex:contentPlaceHolder id="Similares" />
                    </div> -->
                    <div class="product__block six">
                        <div class="review" id="review">
                            <vtex.cmc:UserReview/>
                        </div>
                    </div>
                </div>
            </main>
            <!-- page-main -->
            <div class="c-both"></div>
        </div>
        <!-- page-content -->
        <!-- subtemplate footer -->
        <vtex:template id="PARCEIROPET - footer" />
        <!-- subtemplate footer -->
    </div>
    <div class="modal-assinatura" style="display: none">
        <div class="modal-assinatura__header">
            <strong class="modal-assinatura__title">
                ASSINATURA
            </strong>
            <p class="modal-assinatura__text">
               As assinaturas são totalmente personalizadas, tanto na escolha dos produtos quanto da periodicidade de recebimento. Para assinar você precisa entrar no nosso menu Assinatura escolher os produtos e periodicidade em que quer receber, você terá as opções: Mensal, Bimestral ou Trimestral, toda essa flexibilidade para atender sua necessidade! <br />Caso ainda tenha dúvidas entre em contato com nossa central de relacionamento de Segunda a quinta das 8h as 18h e sexta das 8h às 17h no telefone (11) 4020-1679 ou e-mail relacionamento@parceiropet.com.br
            </p>
            <a href="#" class="modal-assinatura__close">X</a>
        </div>
        <div class="modal-assinatura__content">
            <div class="modal-assinatura__quantity-wrapper">
                <span class="modal-assinatura__quantity-title">Quantidade</span>
                <div class="controle-quantidade">
                    <button class="controle-quantidade__btn controle-qt-minus">-</button>
                    <input type="text" name="controle quantidade" class="controle-quantidade__val" value="1" min="1" max="4" />
                    <button class="controle-quantidade__btn controle-qt-plus">+</button>
                </div>
            </div>
            <div class="modal-assinatura__periodicidade">
                <span class="modal-assinatura__periodicidade-title">
                    Periodicidade
                </span>
                <ul class="modal-assinatura__periodicidade-list">
                </ul>
            </div>
            <div class="modal-assinatura__values">
                <div class="modal-assinatura__entrega">
                    Previsão da próxima entrega:
                    <span class="modal-assinatura__entrega-data">
                        00/00/0000
                    </span>
                </div>
                <div class="modal-assinatura__prices">
                    <div class="modal-assinatura__prices-und">Preço (und) <span class="modal-assinatura__und-value"></span></div>
                    <div class="modal-assinatura__prices-total">Preço (total) <span class="modal-assinatura__total-value"></span></div>
                </div>
                <div class="modal-assinatura__buttons">
                    <a href="#" class="modal-assinatura__continuar-comprando">CONTINUAR COMPRANDO</a>
                    <a href="#" class="modal-assinatura__finalizar-assinatura">FINALIZAR ASSINATURA</a>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <!-- page-wrapper -->
    <!-- scripts -->
    <vtex:template id="PARCEIROPET - includes-scripts" />
    <!-- scripts -->
</body>

</html>