<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="PARCEIROPET - includes-header" />
</head>

<body>
    <!-- header -->
    <vtex:template id="PARCEIROPET - header" />
    <!-- header -->

    <div class="my-signature u-center">
        <section class="my-signature__filters">
            <div class="my-signature__filters block">
                <div class="my-signature__filters-items period">Período:</div>
                <div class="my-signature__filters-items active-item">Todos<span class="my-signature__qty"></span></div>
                <div class="my-signature__filters-items">Quinzenal<span class="my-signature__qty"></span></div>
                <div class="my-signature__filters-items">Mensal<span class="my-signature__qty"></span></div>
                <div class="my-signature__filters-items">Trimestral<span class="my-signature__qty"></span></div>
                <div class="my-signature__filters-items">Semestral<span class="my-signature__qty"></span></div>
                <div class="my-signature__filters-items">Anual<span class="my-signature__qty"></span></div>
            </div>
        </section>
        <section class="my-signature__title" id="my-signature__title">Todos</section>
        <section class="my-signature__content body">

        </section>
    </div>

    <!-- footer -->
    <vtex:template id="PARCEIROPET - footer" />
    <!-- footer -->

    <vtex:template id="PARCEIROPET - includes-scripts" />
</body>

</html>
