<!DOCTYPE html>
<html class="no-js" lang="pt-br" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
<vtex:template id="PARCEIROPET - includes-header"/>
</head>
<body>
<div class="page-wrapper">
	<div class="page-content">
		<!-- subtemplate header -->
		<vtex:template id="PARCEIROPET - header"/>
		<!-- subtemplate header -->
		<main role="main">
		<div class="main-page">
			<div class="bread-crumb" xmlns:v="http://rdf.data-vocabulary.org/#">
				<ul>
					<li typeof="v:Breadcrumb"><a href="/" rel="v:url" property="v:title">Home</a></li>
					<li class="last" typeof="v:Breadcrumb"><a href="/institucional" rel="v:url" property="v:title">Institucional</a></li>
				</ul>
			</div>
			<div class="main-page__nav">
				<ul>
					<li class="institucional-box">
					<div class="institucional-box__email">
						<a href="/institucional/contato">
						<p>
							<strong>Fale Conosco</strong>
						</p>
						</a>
						<a href="/contato">
						<p>
							Envie um email através do formulário.
						</p>
						</a>
					</div>
					</li>
					<li class="institucional-box">
						<div class="institucional-box__tel">
							<p>
								<strong> <vtex.cmc:storeTel/></strong>
							</p>
							<p>
								De segundas a sábados das 8 às 20h
							</p>
						</div>
						<a href="/institucional/contato">Fale Conosco</a>
					</li>
				</ul>
			</div>
			<div class="main-page__content">
				<vtex:contentPlaceHolder id="institucional"/>
			</div>
		</div>
		</main>
		<!-- page-main -->
		<div class="c-both">
		</div>
	</div>
	<!-- page-content -->
	<!-- subtemplate footer -->
	<vtex:template id="PARCEIROPET - footer"/>
	<!-- subtemplate footer -->
</div>
<!-- page-wrapper -->
<!-- scripts -->
<script src="/arquivos/vtex-smartResearch.min.js"></script>
<vtex:template id="PARCEIROPET - includes-scripts"/>
<!-- scripts -->
</body>
</html>