<footer class="footer" role="contentinfo">
        <div class="container container-cart">
            
            <div class="footer__box">
                <div class="footer__title">
                    Formas de Pagamento
                </div>
                <div class="footer__content">
                    <ul class="footer__list payment">
                        <li class="footer__item payment__method amex">amex</li>
                        <li class="footer__item payment__method elo">elo</li>
                        <li class="footer__item payment__method visa">visa</li>
                        <li class="footer__item payment__method master">master</li>
                        <li class="footer__item payment__method dinners">dinners</li>
                        <li class="footer__item payment__method boleto">boleto</li>
                        <li class="footer__item payment__method hipercard">hipercard</li>
                        <li class="footer__item payment__method cabal">cabal</li>
                    </ul>
                </div>
            </div>
            
            <!-- <div class="footer__box">
                <div class="footer__title">
                    Segurança
                </div>
                <div class="footer__content stamp">
                    <ul class="footer__list stamp__list">
                        <li class="footer__item stamp__item ebit"><vtex.cmc:seloEbit /></li>
                        <li class="footer__item stamp__item clearsale"><vtex.cmc:seloClearsale /></li>
                        <li class="footer__item stamp__item digicert"><vtex.cmc:seloDigicert /></li>
                        <li class="footer__item stamp__item site-blindado"><vtex.cmc:seloSiteBlindado /></li>
                    </ul>
                </div>
            </div> -->
            
        </div>
        <hr/>
        <div class="u-center">
            <div class="footer__copyright">
                <span>Parceito Pet LTDA - Todos os direitos reservados - Rua Lutécia, 429 – Sala 6 – Cep. 03423-000 – Vila Carrão.                </span>
            </div>
        </div>
    </footer>
    