<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" />

<header id="header-checkout">
	<div class="container container-cart">
	    <div class="header__logo">
	        <a href="/"></a>
	    </div>
	    <div class="header__tipbar">
	        <ul class="tipbar__list">
	            <li class="tipbar__item tipbar__item--desconto">
                  <span><strong>5% de desconto</strong><br />no pagamento por boleto</span>
	            </li>
	            <li class="tipbar__item tipbar__item--frete">
	            	<span><strong>Frete Grátis acima de</strong><br />R$ 119,00 (Sul e Sudeste)</span>
	            </li>
	            <li class="tipbar__item tipbar__item--parcelamento">
	            	<span><strong>Parcelamento em até</strong><br />6x sem juros</span>
	            </li>
	            <li class="tipbar__item tipbar__item--seguro">
	            	<span><strong>Site</strong><br /> 100% SEGURO</span>
	            </li>
	        </ul>
	    </div>
	</div>
</header>
