<vtex:metaTags/>

<!-- Favicon -->
<link href="/arquivos/favicon.ico" rel="shortcut icon" />
<link href="/arquivos/favicon.ico" rel="apple-touch-icon" />
<!-- Favicon -->

<!-- viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0" />
<!-- viewport -->


<!-- css geral -->
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
<link rel="stylesheet" href="/arquivos/main-parceiro-pet.css" />
<!-- css geral -->

<!-- Android Theme -->
<meta name="theme-color" content="#2EBDCE" />
<link rel="icon" sizes="192x192" href="/arquivos/favicon-parceiro-pet.png" />
<!-- Android Theme -->

<!-- plugin modernizr -->
<script src="/arquivos/modernizr.js"></script>
<!-- plugin modernizr -->
