<footer class="page-footer" role="contentinfo">
    <section class="page-footer__newsletter u-center">
        <div class="u-center">
            <div class="page-footer__newsletter__wrapper">
                <h4 class="page-footer__newsletter__title">
                Cadastre-se e receba nossas novidades <span class="destaque"><vtex.cmc:descontoNewsletter /></span>
                </h4>
                <form class="page-footer__newsletter__form">
                    <span class="page-footer__newsletter__field">
                        <label><span class="mobile-only"></span>
                            <input type="email" class="page-footer__newsletter-client-email" placeholder="Digite seu E-mail" />
                        </label>
                    </span>
                    <span class="page-footer__newsletter__field">
                        <button type="submit" class="page-footer__newsletter__button-ok">Enviar</button>
                    </span>
                </form>
            </div>
        </div>
    </section>
    <div class="page-footer__content-itens">
        <div class="page-footer__content-pets u-center">
            <div class="page-footer__content-pets-links">
                <a class="page-footer__content-pets-cachorro" href="/cachorros">CACHORRO</a>
                <a class="page-footer__content-pets-gato" href="/gatos">GATO</a>
                <a class="page-footer__content-pets-passaro" href="/passaros">PASSARO</a>
                <a class="page-footer__content-pets-roedor" href="/roedores">ROEDOR</a>
                <a class="page-footer__content-pets-peixe" href="/peixes">PEIXE</a>
            </div>
        </div>
        <div class="page-footer__itens--departaments u-center">
            <div class="page-footer__itens--departaments-links">
                <a class="page-footer__itens--departaments-racao" href="/busca/?fq=H:143">RAÇÕES E ALIMENTOS</a>
                <a class="page-footer__itens--departaments-roupas" href="/busca/?fq=H:147">HIGIENE E BELEZA</a>
                <a class="page-footer__itens--departaments-acessorios" href="/busca/?fq=H:145">ACESSÓRIOS</a>
                <a class="page-footer__itens--departaments-medicamentos" href="/busca/?fq=H:144">ROUPAS</a>
                <a class="page-footer__itens--departaments-higiene" href="/busca/?fq=H:146">MEDICAMENTOS</a>
            </div>
        </div>
    </div>
    <div class="page-footer__content">
        <div class="u-center">
            <div class="page-footer__links">
                <div class="accordion institucional">
                    <div class="accordion__title"><a href="institucional">Institucion</a>al</div>
                    <div class="accordion__content">
                        <ul class="page-footer__list">
                            <li class="page-footer__item"><a href="/institucional#sobre" class="page-footer__item--link">Sobre a Parceiro Pet</a></li>
                            <li class="page-footer__item"><a href="/institucional#duvidas-frequentes" class="page-footer__item--link">Dúvidas Frequentes</a></li>
                            <li class="page-footer__item"><a href="/institucional#duvidas-assinatura" class="page-footer__item--link">Como funciona a Assinatura</a></li>
                            <li class="page-footer__item"><a href="/institucional#duvidas-ongs" class="page-footer__item--link">Como funciona a Doação para Ongs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion categorias">
                    <div class="accordion__title"><span>Ajuda</span></div>
                    <div class="accordion__content">
                        <ul class="page-footer__list">
                            <li class="page-footer__item"><a href="/account#/?orders=true" class="page-footer__item--link">Meus Pedidos</a></li>
                            <li class="page-footer__item"><a href="/account" class="page-footer__item--link">Minha conta</a></li>
                            <li class="page-footer__item"><a href="/institucional#duvidas-frequentes" class="page-footer__item--link">Entregas</a></li>
                            <li class="page-footer__item"><a href="/institucional#duvidas-frequentes" class="page-footer__item--link">Pagamentos</a></li>
                            <li class="page-footer__item"><a href="/institucional#duvidas-frequentes" class="page-footer__item--link">Trocas</a></li>
                            <li class="page-footer__item"><a href="/institucional#duvidas-frequentes" class="page-footer__item--link">Devoluções</a></li>
                            <li class="page-footer__item"><a href="/institucional/contato" class="page-footer__item--link">Fale Conosco</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion atendimento">
                    <div class="accordion__title"><span>Atendimento</span></div>
                    <div class="accordion__content">
                        <p>Segunda à Quinta 8h às 18h e Sexta das 8h às 17h</p>
                        <h3>(11) 4020-1679</h3>
                        <p><a href="mailto:relacionamento@parceiropet.com.br">relacionamento@parceiropet.com.br</a></p>
                    </div>
                    <div class="accordion__midias">
                        <ul class="social">
                            <li class="social__item">
                                <a href="//facebook.com/parceiropetbr/" class="social__item--link facebook" target="_blank"></a>
                            </li>
                            <li class="social__item">
                                <a href="//instagram.com/parceiropetbr" class="social__item--link insta" target="_blank"></a>
                            </li>
                            <li class="social__item">
                                <a href="//youtube.com/channel/UCJQ3j_Q3qkDx4zCnldyyDHw" class="social__item--link youtube" target="_blank"></a>
                            </li>
                            <li class="social__item">
                                <a href="//plus.google.com/u/5/112681418652252265599?hl=pt-BR" class="social__item--link gplus" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-footer__info">
                    <div class="page-footer__info--payment">
                        <h5 class="title">Formas de pagamento</h5>
                        <ul class="payment-list">
                            <li class="payment-list__item amex"></li>
                            <li class="payment-list__item elo"></li>
                            <li class="payment-list__item visa"></li>
                            <li class="payment-list__item master"></li>
                            <li class="payment-list__item dinners"></li>
                            <li class="payment-list__item boleto"></li>
                            <li class="payment-list__item hipercard"></li>
                            <li class="payment-list__item cabal"></li>
                        </ul>
                    </div>
                    <div class="page-footer__info--security" style="display: none">
                        <div class="title">Segurança</div>
                        <ul class="stamps">
                            <li class="stamps__item ebit"></li>
                            <li class="stamps__item yourviews"></li>
                        </ul>
                    </div>
                    <div class="page-footer__info--midias" style="display: none;">
                        <ul class="social">
                            <li class="social__item">
                                <a href="//facebook.com/parceiropetbr/" class="social__item--link facebook" target="_blank"></a>
                            </li>
                            <li class="social__item">
                                <a href="//instagram.com/parceiropetbr" class="social__item--link insta" target="_blank"></a>
                            </li>
                            <li class="social__item">
                                <a href="//youtube.com/channel/UCJQ3j_Q3qkDx4zCnldyyDHw" class="social__item--link youtube" target="_blank"></a>
                            </li>
                            <li class="social__item">
                                <a href="//plus.google.com/u/5/112681418652252265599?hl=pt-BR" class="social__item--link gplus" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer__copyright">
        <div class="u-center">
            <vtex.cmc:storeCopyright />
            <div class="sign">
                <a href="http://www.vtex.com/" target="_blank" class="sign--vtex">Vtex</a>
                <a href="http://www.profite.com.br" target="_blank" class="sign--profite">Profite</a>
            </div>
        </div>
    </div>
</footer><!-- page-footer -->