<header class="page-header">
    <div class="page-header__middle">
        <div class="u-center">
            <div class="mobile-only">
                <a href="javascript: return false;" class="icon-menu" title="menu">Menu</a>
            </div>
            <figure class="page-header__middle--logo"><a href="/" title="Parceiro PET"><img src="/arquivos/logo-parceiropet.png" alt="Parceiro PET" /></a></figure>
            <div class="mobile-only">
                <i class="icon-arrow-left"></i>
                <a href="javascript: return false;" class="icon-search" title="buscar"></a>
            </div>
            <div class="page-header__middle--search">
                <vtex.cmc:fullTextSearchBox/>
            </div>
            <div class="page-header__middle--block">
                <div class="page-header__middle--televendas">TELEVENDAS <span>(11) 4020-1679</span></div>
                <div class="page-header__middle--user">
                    <div class="wellcome-message">
                        <p>Olá, <span class="name">Visitante</span></p>
                    </div>
                    <div class="links">
                        <a href="/account" class="links--account" title="Minha conta">Perfil</a>
                        <a href="/account/orders" class="links--orders" title="Meus pedidos">Meus pedidos</a>
                    </div>
                </div>
            </div>
            <div class="header__cart">
                <a href="/checkout/#/cart" title="Ir para o carrinho" class="header__cart--link">
                    <i class="icon-cart"></i> <span class="header__cart--ammount" data-items="0"></span>
                </a>
            </div>
            <div class="header__cart-minicart">
            </div>
        </div>
    </div>
    <div class="page-header__middle-mobile mobile-only">
        <div class="u-center">
            <div class="mobile-only">
                <a href="javascript: return false;" class="icon-menu" title="menu">Menu</a>
            </div>
            <figure class="page-header__middle--logo"><a href="/" title="Parceiro PET"><img src="/arquivos/logo-parceiropet.png" alt="Parceiro PET" /></a></figure>
            <div class="mobile-only">
                <i class="icon-arrow-left"></i>
                <a href="javascript: return false;" class="icon-search" title="buscar"></a>
            </div>
            <div class="page-header__middle--search">
                <vtex.cmc:fullTextSearchBox/>
            </div>
            <div class="page-header__middle--block">
                <div class="page-header__middle--televendas">TELEVENDAS <span>(11) 4020-1679</span></div>
                <div class="page-header__middle--user">
                    <div class="wellcome-message">
                        <p>Olá, <span class="name">Visitante</span></p>
                    </div>
                    <div class="links">
                        <a href="/account" class="links--account" title="Minha conta">Perfil</a>
                        <a href="/account/orders" class="links--orders" title="Meus pedidos">Meus pedidos</a>
                    </div>
                </div>
            </div>
            <div class="header__cart">
                <a href="/checkout/#/cart" title="Ir para o carrinho" class="header__cart--link">
                    <i class="icon-cart"></i> <span class="header__cart--ammount" data-items="0"></span>
                </a>
            </div>
            <div class="header__cart-minicart">
            </div>
            <div class="overlay"></div>
        </div>
    </div>
    <div class="page-header__navigation">
        <div class="page-header__navigation--itens u-center">
            <ul class="page-header__navigation--content">
                <li class="first">
                    <ul class="page-header__navigation--departament"></ul>
                </li>
                <li class="menu-list" style="display: none;">
                    <vtex.cmc:departmentNavigator/>
                </li>
                <li class="item-departament">
                    <ul class="page-header__navigation--departament">
                        <a class="link" href="#">DEPARTAMENTOS</a>
                        <div class="page-header__navigation--sub-departament">
                            <ul class="page-header__navigation--sub-departament-itens">
                                <li>
                                    <a href="/busca/?fq=H:143" title="Rações e Alimentos">Rações e Alimentos</a>
                                </li>
                                <li>
                                    <a href="/busca/?fq=H:147" title="Higiene e Beleza">Higiene e Beleza</a>
                                </li>
                                <li>
                                    <a href="/busca/?fq=H:145" title="Acessorios">Acessórios</a>
                                </li>
                                <li>
                                    <a href="/busca/?fq=H:144" title="Roupas">Roupas</a>
                                </li>
                                <li>
                                    <a href="/busca/?fq=H:146" title="Medicamentos">Medicamentos</a>
                                </li>
                            </ul>
                        </div> 
                    </ul>
                </li>
                <li class="item-sub-departament">
                    <a href="/marcas">COMPRAR POR MARCA</a>
                </li>
                <li class="item-sub-departament">
                    <a href="/doacao">DOAR PARA ONGS</a>
                </li>
            </ul>
        </div>
    </div>
</header>