<script type="text/javascript">
(function() {
    var css = document.createElement('link');
    css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; 
    css.rel = 'stylesheet'; 
    css.type = 'text/css'; 
    document.getElementsByTagName('head')[0].appendChild(css); 
    })();
</script>

<script src="/arquivos/parceiro-pet.min.js?v=8768586"></script>

<!-- INICIO SCRIPT SAMCONNECT -->
<script type="text/javascript">

    var _SAMCONNECT_V1_ACCID = 59;

</script>

<script type="text/javascript" src="https://widget.samconnect.com.br/client.js"></script>
<!-- FINAL SCRIPT SAMCONNECT -->
