body.account {
  // bug bootstrap
  display: none;

  // /**
  //  * Reset Bootstrap
  // **/
  // @media (min-width: 1200px) {
  //   .span1,
  //   .span2,
  //   .span3,
  //   .span4,
  //   .span5,
  //   .span6 {
  //     width: auto;
  //   }
  //   [class*="span"] {
  //     float: none;
  //     margin: initial;
  //     min-height: auto;
  //   }
  //   .row {
  //     margin-left: 0;
  //   }
  // }
  // .row {
  //   margin-left: 0;
  // }
  // .container {
  //   margin: inherit;
  //   width: auto;
  // }
  // ul, ol {
  //   margin: initial;
  // }
  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   margin: initial;
  // }
  // .page-header {
  //   padding-bottom: 0;
  //   margin: auto;
  //   border-bottom: none;
  // }
  // .nav-tabs>li, .nav-pills>li {
  //   float: none;
  // }
  // li {
  //   line-height: normal;
  // }
  // .nav-pills>li>a {
  //   padding-top: 0;
  //   padding-bottom: 0;
  //   margin-top: 0;
  //   margin-bottom: 0;
  //   -webkit-border-radius: 0;
  //   -moz-border-radius: 0;
  //   border-radius: 0;
  // }
  // .nav-tabs>li>a, .nav-pills>li>a {
  //   padding-right: 0;
  //   padding-left: 0;
  //   margin-right: 0;
  //   line-height: normal;
  // }

  // .modal.fade {
  //   top: 0;
  // }
  // .fade {
  //   opacity: 0;
  // }
  // .modal {
  //   position: relative;
  //   top: 0;
  //   left: 0;
  //   opacity: 1;
  //   border: none;
  //   box-shadow: none;
  //   width: auto;
  //   margin-left: 0;
  //   background-color: transparent;
  //   border-radius: 0;
  //   z-index: auto;
  //   background-clip: unset;
  //   &-body {
  //     position: static;
  //     max-height: initial;
  //     padding: 0;
  //     overflow: inherit;
  //   }
  // }
  // .modal-footer {
  //   padding: 0;
  //   margin-bottom: 0;
  //   text-align: inherit;
  //   background-color: transparent;
  //   border-top: none;
  //   border-radius: 0;
  //   box-shadow: none;
  // }
  // .btn {
  //   display: block;
  //   padding: initial;
  //   margin-bottom: 0;
  //   vertical-align: baseline;
  // }
  // a {
  //   line-height: normal;
  // }
  .container-cart {
    margin: 0 auto;
  }
}
.cf.helvetica{
  a.db.link.heavier-blue{
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  body.account {
    padding-right: 0;
    padding-left: 0;
  }
}

.active-period {
  .tabs.u-center {
    position: initial;
    padding: 0;
  }
  .u-center {
    position: initial;
  }
  .tabs__item.signature {
    display: block;
  }
  .my-signature__filters-header {
    position: absolute;
    top: 0;
    z-index: 99;
    margin: 0;
    padding: 0;
    display: block;
  }
  .my-signature__periods {
    width: 100%;
  }
  .my-signature__filters-items {
    background-color: white !important;
    color: #47352e !important;
    padding-left: 15px;
    border: none !important;
    border-bottom: 1px solid #e0e0e0 !important;
    position: relative;
    display: block !important;
    text-decoration: none;
  }
  .my-signature__filters-items-period {
    width: 100%;
    background: linear-gradient(110.56deg, #2ECACE 0%, rgba(46, 189, 206, 0) 100%), #2EBDCE;
    font-size: 24px;
    color: #FFFFFF;
    text-transform: none;
    &:before {
      content: '';
      @include sprite-background( 'icon-prev-white');
      margin-right: 25px;
      margin-left: 15px;
    }
  }
}

.account {
  $background-color: $white;
  #global {
    background-color: #fff;
  }
  .tabs {
    font-family: $font-textos; // width: $page-width;
    margin: 0 auto;
    position: relative;
    margin-top: 95px;
    .logout {
      position: absolute;
      top: 2px;
      right: 15px;
      @include rem( 'font-size', 12px);
      color: $color-link;
      font-weight: 400;
      margin: 0;
      &::after {
        content: '';
        background-image: inline-image('sair_icon.svg');
        margin-left: 5px;
        display: inline-block;
        background-size: cover;
        width: 13px;
        height: 12px;
        vertical-align: middle;
      }
    }
    &__controls {
      margin-top: 35px;
      width: 312px;
      &--item {
        color: #BDBDBD; // height: 50px;
        // line-height: 50px;
        padding: 0 12px 15px;
        text-align: center;
        border-bottom: 2px solid transparent;
        @include rem( 'font-size', 14px);
        font-weight: 400;
        display:inline-block;
        vertical-align: top;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        @include transition(border-color 250ms);
        display: inline-block !important;
        width: 33.33%;
        font-size: 12px;
        &.active {
          border-bottom-color: $color-link;
          color: $color-link;
        }
        &:hover {
          border-bottom-color: lighten($color-link, 10%);
          color: $color-link;
        }
      }
    }
    &__wrapper {
      margin-bottom: 60px;
    }
    &__item {
      min-height: 640px;
      &.account {}
      &.orders,
      &.signature {
        display: none;
      }
      &.orders {
        .container {
          .page-header {
            display: none;
          }
        }
      }
      &--address,
      &--user-info {
        display: inline-block;
        vertical-align: top;
      }
      &--user-info {
        width: 70%;
        padding: 30px;
        border: 1px solid #E0E0E0;
        .profile-detail-display {
          display: none;
        }
        .modal {
          display: block !important;
          &-header {
            display: none;
          }
          &-body {
            h5 {
              @extend %subtitulo;
              @include rem( 'font-size', 18px);
              margin-bottom: 20px;
            }
            .profile-detail-form-business-data {
              display: none;
            }
            .control-group {
              display: inline-block;
              width: 50%;
              margin-bottom: 20px;
              &:nth-of-type(2n+1) {
                padding-right: 30px;
              }
              &.form-contact-data-email {
                width: 100%;
                padding-right: 0;
              }
              &.form-contact-data-telephone {
                padding-right: 30px;
              }
              &.form-contact-data-cellphone {
                padding-right: 0;
              }
            }
            .form-personal-data-gender {
              .radio {
                @extend %texto-escuro;
                @include rem( 'font-size', 14px);
                input {
                  width: 16px;
                  height: 16px;
                  margin-right: 10px;
                  vertical-align: sub;
                  appearance: none;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                  -ms-appearance: none;
                  @include border-radius(50%);
                  border: 1px solid $gray-light;
                  &:checked {
                    background-color: $theme-color;
                  }
                }
                &:first-child {
                  margin-right: 30px;
                }
              }
            }
          }
          &-footer {
            .btn-link {
              display: none;
            }
          }
        }
      }
      &--address {
        width: 30%;
        padding: 30px;
        border: 1px solid #E0E0E0;
        h4 {
          color: $color-subtitulo;
          @include rem( 'font-size', 18px);
          font-weight: 400;
          margin-bottom: 12px;
        }
        .new-address-link {
          @extend %link;
          color: #2EBCCF;
          .address-update {
            font-size: 0;
            &::before {
              content: '+ Adicionar novo endereço';
              @include rem( 'font-size', 14px);
            }
          }
        }
        .address-display-unit {
          @extend %texto-corrido;
          padding-top: 10px;
          margin-top: 30px;
          @include rem( 'font-size', 14px);
          h5 {
            @extend %texto-escuro;
            @include rem( 'font-size', 14px);
            display: block;
            word-break: break-all;
          }
          .edit-address-link {
            @extend %link;
            @include rem( 'font-size', 12px);
            margin-bottom: 20px;
            .address-update {
              font-size: 0;
              &::before {
                content: 'Editar';
                @include rem( 'font-size', 12px);
              }
            }
          }
          &-info {
            line-height: 20px;
          }
        }
        .modal {
          display: none;
        }
      }
    }
    input[type=text] {
      @extend %texto-escuro;
      width: 100%;
      height: 40px;
      line-height: 40px;
      border: 1px solid $gray-100;
      padding: 0 10px;
      @include rem( 'font-size', 13px);
    }
    .fakeSelect {
      @extend %fakeSelect;
      border-color: $gray-100;
      height: 40px;
      &__title {
        @extend %fakeSelect__title;
        height: 38px;
        a {
          line-height: 38px;
        }
      }
      &__item {
        @extend %fakeSelect__item;
      }
      &__arrow {
        @include sprite-background( 'arrow-down-min');
        position: absolute;
        top: 18px;
        right: 12px;
      }
      &__list {
        @extend %fakeSelect__list;
        padding-top: 0;
        top: 40px;
        max-height: 200px;
        overflow-y: auto;
      }
    }
    select {
      display: none;
    }
  }
  #business-toggle {
    @extend %link;
    @include rem( 'font-size', 14px);
    &:hover {
      text-decoration: underline;
    }
  }
  #profile-submit {
    @extend %btn-primary;
    width: 100%;
    height: 50px;
    line-height: 50px;
    @include transition(all 250ms);
  }
  #address-remove {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
    .exclude {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 420px;
      height: 200px;
      background-color: $white;
      padding: 30px;
      z-index: 1000;
      cursor: default;
      @include mobile{
        width:100%;
      }
      #address-delete{
        @include mobile{
        width:150px;
        }
      }
      .modal {
        &-header {
          .close {
            display: none;
          }
          .address-label {
            color: $black;
            @include rem( 'font-size', 18px);
            font-weight: 400;
            margin-bottom: 25px;
          }
        }
        &-body {}
        &-footer {
          padding-top: 10px;
          .btn-link,
          .btn-primary {
            position: absolute;
            bottom: 15px;
            width: 120px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            border: none;
            text-shadow: none;
            @include box-shadow(none);
            text-transform: uppercase;
            @include rem( 'font-size', 14px);
            font-weight: 500;
            cursor: pointer;
            @include transition(all 250ms);
          }
          .btn-primary {
            @extend %btn-primary;
            left: 166px;
            &:hover {
              background-color: lighten($black, 3%);
            }
          }
          .btn-link {
            @extend %btn-secondary;
            left: 30px;
            &:hover {
              background-color: darken($white, 3%);
            }
          }
        }
      }
    }
  }
  #address-edit {
    .modal {
      &-header {
        .close {
          display: none;
        }
        .address-label {
          color: $black;
          @include rem( 'font-size', 18px);
          font-weight: 400;
          margin-bottom: 25px;
        }
      }
      &-body {
        .control-group {
          display: inline-block;
          width: 50%;
          margin-bottom: 20px;
          &:nth-of-type(2n+1) {
            padding-right: 30px;
          }
          &.address-form-cep~.row {
            &>.span4 {
              width: 82%;
              padding-right: 30px;
              display: inline-block;
              vertical-align: top;
              .address-form-street-name {
                width: 100%;
                padding-right: 0;
              }
            }
            &>.span1 {
              width: 18%;
              display: inline-block;
              vertical-align: top;
              .address-form-number {
                width: 100%;
                padding-right: 0;
              }
            }
            &>.span3 {
              width: 50%;
              display: inline-block;
              vertical-align: top;
              .control-group {
                width: 100%;
              }
              .address-form-reference {
                padding-right: 0;
              }
            }
          }
          &.address-form-neighborhood {
            width: 40%;
            &+.row {
              width: 60%;
              display: inline-block;
              vertical-align: top;
              .address-form-state {
                width: 30%;
              }
              .address-form-city {
                width: 70%;
              }
            }
          }
        }
      }
      &-footer {
        padding-top: 10px;
        .btn-link,
        .btn-primary {
          position: absolute;
          bottom: 15px;
          width: 120px;
          height: 45px;
          line-height: 45px;
          text-align: center;
          border: none;
          text-shadow: none;
          @include box-shadow(none);
          text-transform: uppercase;
          @include rem( 'font-size', 14px);
          font-weight: 500;
          cursor: pointer;
          @include transition(all 250ms);
        }
        .btn-primary {
          color: $white;
          background-color: $black;
          left: 166px;
          &:hover {
            background-color: lighten($black, 3%);
          }
        }
        .btn-link {
          color: $black;
          background-color: $white;
          left: 30px;
          &:hover {
            background-color: darken($white, 3%);
          }
        }
      }
    }
  }
  iframe {
    width: 100%;
    height: 640px;
  }
  *:focus {
    outline: none;
  }
  #accountAjaxBusy {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 999;
    visibility: visible !important;
    font-size: 0;
    cursor: pointer;
  }
  #form-address {
    width: 630px;
    height: 570px;
    background-color: $white;
    padding: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
  }
  .control-label {
    @extend %texto-corrido;
    margin-bottom: 10px;
    display: block;
  }
}

.myorders {
  .subscriptions-page {
    >.page-header {
      &:first-child {
        display: none;
      }
    }
    h1 {
      font-size: 28px;
    }
  }
}

.my-signature__filters-header {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width: 100%;
  margin: 0 0 30px;
  padding-top: 40px;
  border-top: 1px solid #BDBDBD;
}

.my-signature {
  // display: none;
  &__filters {
    &-items {
      font-size: 14px;
      text-transform: uppercase;
      color: #47352E;
      display: inline-block;
      text-align: center;
      width: 16.67%;
      height: 58px;
      border: 1px solid #E0E0E0;
      border-width: 1px 1px 1px 0;
      line-height: 54px;
      cursor: pointer;
      transition: all 0.3s;
      &:first-child {
        border-width: 1px 1px 1px 1px;
      }
      &-period {
        width: 92px;
        height: 58px;
        text-align: left;
        font-size: 14px;
        text-transform: uppercase;
        color: #47352E;
        display: inline-block;
        line-height: 54px;
      }
      &.active-item {
        background-color: $theme-color;
        border: 1px solid $theme-color;
        color: $white;
        &:hover {
          color: $white;
          transition: all 0.3s;
        }
      }
      &:hover {
        border: 1px solid $theme-color;
        color: $theme-color;
        transition: all 0.3s;
      }
    }
  }
  &__periods {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: space-between;
    -webkitjustify-content: space-between;
    -moz-justify-content: space-between;
    width: calc(100% - 92px);
  }
  @include mobile {
    &__periods {
      flex-direction: column;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
    }
    &__filters-items {
      width: 100%;
      display: none;
      text-align: left;
      position: relative;
      &.active-item {
        display: block;
        &:after {
          content: '';
          @include sprite-background( 'icon-arrow-white-bottom');
          position: absolute;
          right: 15px;
          top: 23px;
        }
      }
    }
  }
}

@media screen and (max-width: $page-width-desktop) {
  .account {
    .tabs {
      width: 100%;
      padding: 0 10px;
      margin-top: 50px;
    }
  }
}

@include mobile {
  width: 78%;
  .account {
    .tabs {
      &__controls {
        &--item {
          width: 40%; // width: 33.33%;
          // font-size: 12px;
        }
      }
      &__item {
        &--address,
        &--user-info {
          display: block;
          width: 100%;
          padding: 30px 10px;
        }
        &--user-info {
          border: 20px solid #E0E0E0;
        }
      }
      .logout {
        position: absolute;
        top: -35px;
        /* right: 0; */
        text-align: right;
        display: block;
        margin: 4px 11px 0 0;
      }
    }
    #form-address {
      width: 100%;
      height: 100%;
    }
    #address-edit {
      .modal {
        &-body {
          height: 80%;
          overflow: auto;
          .control-group {
            width: 100% !important;
            display: block;
            padding-right: 0 !important;
            &.address-form-complement {
              padding-right: 30px !important;
            }
            &.address-form-neighborhood+.row {
              width: 100%;
            }
            &.address-form-cep~.row>.span4 {
              width: 78%;
            }
          }
        }
      }
    }
  }
}

@include mobile-portrait {
  .account {
    #profile {
      .control-group {
        width: 100% !important;
        padding-right: 0 !important;
        display: block;
      }
    }
    #form-address {
      padding-bottom: 70px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .account {
    .tabs .logout {
      margin: 8px 12px 0 0;
    }
  }
}
