.giftlist-home{
    .list-home__content{
        background: url('/arquivos/banner-lista-home.png') no-repeat;
        background-size: cover;
        height: 395px;
        @include display-flex;
        @include align-items(center);
        text-align: center;

        &-opts{
            margin-top: 52px;

            .opts-list-btn{
                display: inline-block;
                background: $white;
                border-radius: 3px;
                width: 245px;
                height: 45px;
                margin: 0 16px;
                color: $theme-color;
                font-weight: 600;
                @include rem('font-size', 16px);
                text-transform: uppercase;
                line-height: 42px;
            }

        }

        @include mobile{
            background: url('/arquivos/banner-lista-home-mobile.png') no-repeat;
            background-size: 100%;
            &-opts{
                margin-top: 33px;

                .opts-list-btn{
                    margin: 12px 0;
                    width: 100%;
                }
            }
        }
    }
    
}