body.login{
	#admake-advanced-filter{
		display: none !important;
	}
	.menu-departamento{
		display: block !important;
	}
}
.vtexIdUI{
	*{
		box-shadow:none !important;
	}
	#vtexIdUI{
		&-auth-selector{
			.vtexIdUI-heading{
				span:nth-child(1){
					font-size:0px;
					&::after{
						content:"FAÇA LOGIN";
						font-size:24px;
					}
				}
			}
		}
		&-email-confirmation{
			h4{
				text-align:center;
			}
			.vtexIdUI-heading{
				font-size:0px !important;
				&::after{
					content:"INFORME SEU E-MAIL";
					font-size:24px;
				}
			}
		}
		&-confirm-access-code{
			h4{
				text-align:center;
			}
			.vtexIdUI-heading{
				font-size:0px !important;
				&::after{
					content:"CHAVE DE ACESSO";
					font-size:24px;
				}
			}
		}
		&-classic-login{
			h4{
				text-align:center;
			}
			.vtexIdUI-heading{
				font-size:0px !important;
				&::after{
					content:"ENTRAR COM EMAIL E SENHA";
					font-size:24px;
				}
			}
		}
	}
	&-heading{
		font:700 24px Lato !important;
		color:#47352E;
		line-height:29px !important;
		text-align:center;
	}
	.modal-header,.modal-footer{
		background:#fff !important;
		border:none !important;
	}
	.modal-header{
		padding:32px 15px 0px 15px !important;
	}
	.modal-footer{
		padding:0px 15px 20px !important;
	}
	.btn-success{
    	transition: all .3s;
		&:hover{
			opacity: 0.8;
    		transition: all .3s;
    		background-position: 15px !important;
		}
	}
	.vtexIdUI-others-send-email{
		transition: all .3s;
		&:hover{
			opacity: 0.8;
    		transition: all .3s;
    		 background-position: 15px !important;
		}
	}
	.btn{
		background-color:#2EBCCF !important;
		border-radius:0px !important;
		-moz-border-radius:0px !important;
		-webkit-border-radius:0px !important;
		font-family:Lato;
		font-size:12px !important;
		font-weight:600;
		text-transform:uppercase;
		color:#fff !important;
		text-shadow:none !important;
		text-align:left !important;
		padding:16px 0px 16px 50px !important;
		border-radius:3px !important;
		-webkit-border-radius:3px !important;
		-moz-border-radius:3px !important;
	}
	#sendAccessKeyBtn,#confirmLoginAccessKeyBtn,#classicLoginBtn,#tryChangePswdBtn,#changePswdBtn{
		height:auto !important;
		background-image:none !important;
		width:50%;
		text-align:center !important;
		padding-left:0px !important;
		font-family:Lato !important;
		font-weight:700 !important;
		font-size:14px !important;
		color:#FFF !important;
		text-transform:uppercase !important;
	}
	.vtexid-icon-mail{
		&:before{
			content:none;
		}
	}
	.vtexid-icon-lock{
		display:none;
	}
	&-send-email{
		background-image:url("/arquivos/key-ico.png") !important;
		background-repeat:no-repeat !important;
		background-position:16px center;
	}
	&-others-send-email{
		background-image:url("/arquivos/email-ico.png") !important;
		background-repeat:no-repeat !important;
		background-position:16px center;
	}
	.info-code{
		margin-bottom:16px !important;
		font:400 16px Lato !important;
		color:#333 !important;
	}
	.info-why{
		font:400 14px Lato;
		color:#333;
		margin-bottom:16px;
	}
	input{
		border:1px solid #eaeaea !important;
		height:48px !important;
		padding-left:16px !important;
		font:400 16px Lato !important;
		color:#828282 !important;
	}
	label{
		font:400 14px Lato !important;
		color:#828282 !important;
	}
	a{
		font-family:Lato !important;
		font-weight:700 !important;
		font-size:14px !important;
		color:#2EBCCF !important;
		text-transform:uppercase;
		i:nth-child(1){
			display:none;
		}
	}
	border:1px solid #eee !important;
	box-shadow:none !important;
}