.produto {
    .glis-popup-link-add,
		.giftlist-insertsku-must-login {
        display: none;
    }
  #TB_overlay {
    background: #000;
    opacity: 0.6;
		@include mobile {
			z-index: 1000002 !important;
		}
  } // #TB_window {
  //   background: #fff;
  // }

  #TB_window{
    @include mobile{
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: 145px !important;
      width: 288px !important;
			z-index: 1000002 !important;
    }
  }
  #TB_ajaxContent {
    padding: 0 !important;
    background: #fff;
    height: 290px !important;
     @include mobile{
       width: 288px !important;
       padding: 20px !important;
       position: relative;
     }
  }
  #TB_closeAjaxWindow {
    position: absolute;
    top: 30px;
    right: 50px;
  }
  #TB_closeWindowButton {
    font-size: 0;
    &:before {
      content: '+';
      color: #2EBDCD;
      transform: rotate(45deg);
      font-size: 42px;
      display: inline-block;
    }
  }
  .glis-flash-quantity-added,
  .glis-mylist,
  .glis-save,
  .glis-save,
  .glis-selected,
  .glis-title {
    display: none !important;
  }
  .glis-create {
    padding: 40px 20px;
		@include mobile {
			padding: 0;
		}
		& + .list-popup {
			display: none;
		}
    .glis-new-title {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 24px;
      text-transform: uppercase;
      color: #47352E;
    }
    .glis-create-form-type {
      display: none;
    }
    .glis-create-form-name {
      margin: 30px 0;
			@include mobile {
				margin: 15px 0;
				.glis-form-name-obr {
					display: none;
				}
			}
      .create {
        margin-right: 5px;
				@include mobile {
					margin-bottom: 8px;
					display: block;
				}
      }
      .glis-form-name {
        height: 30px;
        width: 430px;
        font-size: 12px;
        padding: 15px;
				@include mobile {
					width: 100%;
					height: 40px;
					line-height: 40px;
					padding: 0 15px;
				}
      }
    }
    .glis-new-info {
      font-size: 12px;
      padding-top: 30px;
    }
    .glis-create-form-submit {
      text-align: center;
      a {
        background: #2EBCCF;
        border-radius: 3px;
        line-height: normal;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        display: inline-block;
        padding: 15px;
        width: 260px;
				@include mobile {
					width: 100%;
				}
      }
    }
  }
  .list-popup {
    &__title {
      font-family: 'Lato';
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 24px;
      text-transform: uppercase;
      color: #47352E;
      display: block;
      width: 300px;
      margin: 30px 0 20px 40px;
      @include mobile{
        width: 190px;
        font-size: 16px;
        margin: 0px;
      }
    }
    &__list-name {
      background: #F0F0F0;
      font-size: 14px;
      text-align: center;
      color: #666666;
      padding: 10px 20px;
      display: inline-block;
      margin: 0 0 40px 40px;
      @include mobile{
        padding: 0;
        width: 100%;
        height: 32px;
        line-height: 32px;
        text-transform: uppercase;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 40px;
      }
    }
    &__buttons {
      padding: 30px 40px;
      border-top: 1px solid #E0E0E0;
      @include mobile{
        padding: 0px;
        position: absolute;
        left: 0;
        bottom: 0;
				border-top: none;
      }
    }
    &__continuar {
      font-family: 'Lato';
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 14px;
      text-transform: uppercase;
      color: #2EBCCF;
      display: inline-block;
      text-align: left;
      margin-right: 70px;
      @include mobile{
        width: 100%;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 26px;
      }
    }
    &__ver-lista {
      background: #2EBCCF;
      border-radius: 3px;
      line-height: normal;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      display: inline-block;
      padding: 15px;
      width: 260px;
      @include mobile{
        width: 100%;
      }
    }
  }
  .modal-assinatura {
    position: fixed;
    background: #fff;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    left: 0;
    top: 50px;
    right: 0;
    z-index: 20;
    &__close {
      color: #2EBDCD;
      font-weight: bold;
      position: absolute;
      right: 30px;
      top: 60px;
    }
    &__header {
      position: relative;
      padding: 30px 40px;
      border-bottom: 1px solid #E0E0E0;
    }
    &__title {
      font-family: 'Lato';
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
      color: #47352E;
      margin-bottom: 10px;
      display: block;
    }
    &__text {
      max-width: 468px;
      font-family: 'Lato';
      line-height: 20px;
      font-size: 14px;
      color: #666666;
    }
    &__content {
      padding: 25px 40px;
    }
    &__quantity-wrapper {
      width: 130px;
      display: inline-block;
      vertical-align: top;
    }
    &__periodicidade {
      width: 490px;
      display: inline-block;
      vertical-align: top;
      &-title {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        line-height: 32px;
        font-size: 14px;
        color: #666666;
      }
      &-item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 18px;
        margin-bottom: 13px;
        &:nth-child(3) {
          margin-right: 0;
        }
        &.active {
          display: inline-block!important;
          a {
            border: 2px solid #2EBCCF;
            color: #2EBCCF;
            font-weight: bold;
          }
        }
      }
      &-link {
        width: 150px;
        height: 30px;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 3px;
        display: block;
        text-align: center;
        line-height: 30px;
      }
    }
    &__quantity-title {
      font-family: 'Lato';
      line-height: 32px;
      font-size: 14px;
      color: #666666;
    }
    .controle-quantidade {
      width: 85px;
      height: 30px;
      border-radius: 3px;
      border: 1px solid #C4C4C4;
    }
    .controle-quantidade__val {
      width: 30px;
      height: 28px;
      border: none;
      font-family: 'Lato';
      font-style: normal;
      font-weight: normal;
      line-height: 18px;
      font-size: 12px;
      text-align: center;
      color: #666666;
    }
    .controle-quantidade__btn {
      color: #2EBDCD;
      font-size: 16px;
      background: none;
      border: none;
      display: inline-block;
      vertical-align: middle;
    }
    &__values {
      margin-top: 30px;
      padding-top: 27px;
      border-top: 1px solid #E0E0E0;
    }
    &__entrega {
      background: #F0F0F0;
      padding: 8px 15px;
      font-family: 'Lato';
      font-weight: normal;
      font-size: 14px;
      color: #666666;
      display: inline-block;
      vertical-align: middle;
      margin-right: 98px;
    }
    &__prices {
      display: inline-block;
      vertical-align: middle;
    }
    &__buttons {
      margin-top: 35px;
      text-align: right;
    }
    &__continuar-comprando {
      font-family: 'Lato';
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #2EBCCF;
      display: inline-block;
      padding: 12px;
      text-align: center;
      width: 237px;
    }
    &__finalizar-assinatura {
      background: #2EBCCF;
      border-radius: 3px;
      display: inline-block;
      padding: 12px;
      text-align: center;
      width: 237px;
      color: #fff;
    }
  }
  @include desktop {
      .bread-crumb {
          display: none;
      }
  }
  @include mobile{
      .bread-crumb {
          ul {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
          }
          li {
              display: none;
              &:first-child,
              &:nth-child(2),
              &:last-child {
                  display: inline-block;
              }
          }
      }
    .modal-assinatura{
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 9999999;
      &__header{
        padding: 5px;
      }
      &__text{
        font-size: 12px;
      }
      &__close{
        right: 15px;
        top: 15px;
        cursor: pointer;
      }
      &__content{
        height: 448px;
        overflow-x: scroll;
        padding: 5px;
        width: 100%;
      }
      &__values{
        margin-top: 0px;
        padding-top: 10px;
      }
      &__periodicidade{
        width: 100%;
        &-list{
          display: flex;
          flex-wrap: wrap;
        }
        &-item{
          flex: 2 0 45%;
          margin-right: 10px;
          margin-bottom: 5px;
          &:nth-child(3){
            margin-right: 10px;
          }
        }
        &-link{
          width: 100%;
          height: 20px;
          line-height: 15px;
          font-size: 12px;
        }
      }
      &__entrega{
          width: 100%;
          margin-bottom: 15px;
          margin-right: 0px;
      }
      &__prices{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
        &-und{
          margin-bottom: 10px;
          width: 50%;
          font-size: 12px;
        }
        &-total{
          margin-bottom: 10px;
          width: 50%;
          font-size: 12px;
        }
      }
      &__buttons{
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        a{
          flex: 2 0 50%;
          margin-bottom: 10px;
          font-size: 12px;
        }
      }
    }
  }
}

.product {
  &__info--buy-button .buy-button.inactive {
    background: #E0E0E0;
  }
  .buy-button{
    @include mobile{
      margin-top:24px;
    }
  }
  .notifyme {
    padding: 20px 15px;
    &__title {
      font-family: 'Lato';
      font-weight: bold;
      line-height: normal;
      font-size: 18px;
      color: #2EBCCF;
      display: block;
      margin-bottom: 6px;
    }
    &__text {
      font-family: 'Lato';
      font-weight: normal;
      line-height: 18px;
      font-size: 14px;
      color: #999999;
      display: block;
      margin-bottom: 20px;
    }
    &__nome,
    &__email {
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 3px;
      display: block;
      font-family: 'Lato';
      font-weight: normal;
      line-height: 18px;
      font-size: 12px;
      padding: 10px 15px;
      margin-bottom: 6px;
      width: 100%;
    }
    &__btn-avise-me {
      background: #47352E;
      border-radius: 3px;
      color: #fff;
      width: 100%;
      padding: 12px;
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
    }
    &-success {
      padding: 10px 0px;
      display: block;
      text-align: center;
      color: #000;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
    }
  }
  .prateleira {
    &__brand .brand {
      padding: 2px 0 10px;
    }
    &__item {
      height: 284px;
    }
    &__content {
      text-align: left;
    }
    &-assinatura {
      @include rem('font-size', 36px);
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: $color-titulos;
      padding: 80px 0;
      padding-top: 15px;
      h2 {
        @include rem('font-size', 36px);
        text-align: center;
        text-transform: uppercase;
        color: $color-titulos;
        font-weight: bold;
        padding-bottom: 25px;
      }
      ul {
        display: block;
        li {
          // width: 20%;
          widows: auto;
          display: inline-block;
        }
      }
      .slick-initialized .slick-slide {
              float: none;
              display: inline-block;
              vertical-align: middle;
            }
            .slick-next,
            .slick-prev{
                width: 50px;
                height: 50px;
            }
            .slick-next{
                right: -4%;
            }
            .slick-prev{
                left: -4%;
            }
            .u-center {
                width: 100%;
                padding: 0;
            }
            .top-banner__wrapper {
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .slick-prev {
                &:before {
                    content: '';
                    @include svg('arrow-banner-left-gray', 36px, 52px);
                }
            }

            .slick-next {
                &:before {
                    content: '';
                    @include svg('arrow-banner-right-gray', 36px, 52px);
                }
            }
    }
  }
  &__block {
    &.one {
      @include display-flex;
      margin-top: 50px;
      @include justify-content(space-between);
      @include desktop {
          padding-top: 30px;
      }
    }
    &.two {}
    &.tree {
      .specification-wrapper {
        margin-bottom: 40px;
        h4 {
          font-size: 0;
          font-weight: bold;
          line-height: 36px;
          text-align: center;
          text-transform: uppercase;
          color: #47352E;
          margin-bottom: 40px;
          &:before {
            content: "Especificações";
            @include rem('font-size', 36px);
          }
        }
        table {
          width: 100%;
          tr {
            height: 60px;
            background-color: #F0F0F0;
            &:nth-child(even) {
              background-color: $white;
            }
            .name-field {
              font-weight: bold;
              line-height: normal;
              @include rem('font-size', 18px);
              color: #666666;
              width: 30%;
              line-height: 58px;
              padding-left: 20px;
            }
            .value-field {
              font-style: normal;
              font-weight: normal;
              line-height: 18px;
              @include rem('font-size', 18px);
              color: #666666;
              line-height: 58px;
              padding-left: 10px;
            }
          }
        }
      }
    }
    &.five {}
    &.six {}
    &.component-is-empty {
      display: none;
    }
  }
  &__wrapper {
    &.esgotado {
      .product__wrapper-box {
        padding: 10px 40px;
        text-align: center;
      }
      .product__info--esgotado {
        color: #47352E;
      }
    }
    &.image {
      width: 32%;
      #include {
        width: 100%;
        overflow: hidden;
        position: relative;
        .zoomPad {
          position: relative;
          overflow: hidden;
          #image-main {
            width: 100%;
            height: auto;
          }
        }
        .zoomWindow {
          overflow: hidden;
          z-index: 9 !important;
          left: 0 !important;
          top: 0 !important;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(180, 180, 180, .3);
          background-color: $white;
        }
      }
      .thumbs {
        padding: 20px 0;
        @include display-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        li {
          padding: 0 20px;
          width: 110px;
        }
        .slick-slide {
          opacity: 0.2;
          &.slick-active {
            opacity: 1;
          }
        }
        .slick-prev {
          left: 15px;
          &:before {
            content: '';
            @include sprite-background('arrow-prateleira-left');
            background-size: inherit;
          }
        }
        .slick-next {
          right: 15px;
          &:before {
            content: '';
            @include sprite-background('arrow-prateleira-right');
            background-size: inherit;
          }
        }
      }
    }
    &.middle {
      width: 36%;
      #brand {
        .brandName {
          @include rem('font-size', 14px);
          color: $theme-color;
          padding-bottom: 8px;
        }
      }
    }
    &.info {
      width: 28%;
      @include display-flex;
      @include flex-direction(column);
      opacity: 0;
      @include transition(opacity 250ms ease);
      &.ready {
          opacity: 1;
      }
    }
    &-box {
      border: 1px solid $gray-600;
      box-sizing: border-box;
    }
  }
  &__info {
    &--name {
      @include rem('font-size', 24px);
      line-height: 29px;
      color: $color-titulos;
      font-weight: bold;
      text-transform: capitalize;
      padding: 5px 0 3px;
    }
    &--rating {
      font-size: 0;
      margin: 16px 0 30px;
      @include display-flex;
      @include align-items(flex-end);
      @include justify-content(space-between);
      strong {
        display: none;
      }
      &-review {
        @include rem('font-size', 12px);
        color: $theme-color;
      }
      .productReference {
        font-size: 14px;
        text-align: right;
        color: #999999;
        float: right;
        margin-left: auto;
      }
    }
    &--price {
      padding: 15px;
      position: relative;
      .valor-de {
        display: block;
        @include rem('font-size', 14px);
        color: $gray-500;
        line-height: 18px;
        margin-bottom: 3px;
        text-transform: lowercase;
        .skuListPrice {
          text-decoration: line-through;
        }
      }
      .preco-a-vista {
        display: none !important;
      }
      .valor-por {
        display: block;
        font-weight: bold;
        line-height: normal;
        @include rem('font-size', 24px);
        color: $theme-color;
        text-transform: lowercase;
        line-height: 29px;
        .skuBestPrice {
          text-transform: uppercase;
        }
      }
      .valor-dividido {
        display: block !important;
        @include rem('font-size', 14px);
        color: $gray-light;
        line-height: 18px;
        .skuBestInstallmentValue {
          color: $theme-color;
          font-weight: 600;
        }
      }
      .economia-de {
        display: none;
      }
      &::after {
          content: 'Em estoque';
          @include rem('font-size', 14px);
          font-weight: 700;
          position: absolute;
          bottom: 18px;
          right: 10px;
          color: $gray;
          @include mobile {
              bottom: 10px;
          }
      }
    }
    &--similares {
      h2 {
        display: none;
      }
      li {
        height: auto;
        padding: 5px 10px;
        &.selected,
				&:only-child {
          background: $gray-lighter;
        }
        .fakesku {
          &__item {
			position: relative;
            padding-bottom: 30px;
            @include rem('font-size', 14px);
			&-opcao {
				display: inline-block;
				vertical-align: middle;
                label {
                    width: 18px;
                    height: 18px;
                    border: 1px solid $gray-light;
                    @include border-radius(50%);
                    display: inline-block;
                }
                input {
                    display: none;
                    &:checked + label {
                        background-color: #2EBCCF; // Old browsers
                        @include filter-gradient(#2EBCCF, #ffffff, horizontal); // IE6-9 fallback on horizontal gradient
                        @include background-image(radial-gradient(center, ellipse cover, #2EBCCF 0%,#2EBCCF 30%,#ffffff 40%,#ffffff 100%));
                    }
                }
			}
            &-name {
              display: inline-block;
              width: calc(100% - 25px);
              padding-left: 10px;
              vertical-align: middle;
              transition: all 300ms linear;
							line-height: 1.4;
              // @include mobile {
                  width: 65%;
              // }
            }
            &-quantidade {
              display: inline-block;
              height: 30px;
              background: $white;
              border-radius: 3px;
              text-align: center;
              padding: 6px 0;
              width: 0;
              overflow: hidden;
              transition: all 300ms linear;
              margin-left: 20px;
              vertical-align: middle;
    			position: absolute;
    			top: 0;
    			bottom: 0;
    			right: 0;
    			margin: auto;
              .controle-quantidade {
                &__val {
                  // width: 20px;
									width: 100%;
									padding: 0 23px;
                  line-height: 30px;
                  text-align: center;
                  border: 0; // margin: 0 6px;
                  @include rem('font-size', 12px);
                  color: $gray;
                  &:focus,
                  &:active {
                    outline: 0;
                  }
                }
                &__btn {
                  padding: 0;
                  border: 0;
                  @include rem("font-size", 20px);
                  width: 23px;
                  height: 30px;
                  line-height: 30px;
                  vertical-align: middle;
                  background-color: $white;
                  cursor: pointer;
									outline: 0;
									color:#2EBCCF;
									font-weight:700;
									position: absolute;
									top: 0;
                  &:focus,
                  &:active {
                    outline: 0;
                  }
									&.controle-qt-minus {
										left: 0;
									}
									&.controle-qt-plus {
										right: 0;
									}
                  // &.controle-qt-minus {
                  //   &::after{
                  //     content:'-';
                  //     @include rem('font-size', 20px);
                  //     font-weight:700;
                  //     color:#2EBCCF;
                  //   }
                  //   //@include sprite-background('icon-less');
                  // }
                  // &.controle-qt-plus {
                  //   &::after{
                  //     content:'+';
                  //     @include rem('font-size', 20px);
                  //     font-weight:700;
                  //     color:#2EBCCF;
                  //   }
                  //   //@include sprite-background('icon-more');
                  // }
                }
              }
            }
            &-preco {
              display: inline-block;
              margin-left: 27px;
              font-weight: 600;
              // @include mobile {
                  // display: block;
                  position: absolute;
									bottom: 8px;
									left: 33px;
                  margin-left: 0;
              // }
            }
            &.item-selected {
              .fakesku__item-quantidade {
                width: 66px;
                padding: 0;
              }
            }
          }
        }
      }
    }
    &--notifyme {
      .buy-button {
        display: none !important;
      }
      .portal-notify-me-ref {
        display: none;
        .notifyme {
          padding: 18px 15px;
          border: 1px solid $gray-600;
          box-sizing: border-box;
        }
        .notifyme-title {
          @include rem('font-size', 18px);
          color: $theme-color;
          font-weight: bold;
        }
        .notifyme-form {
          p {
            @include rem('font-size', 14px);
            color: $gray-500;
            padding: 10px 0;
          }
          .notifyme-client-email {
            border: 1px solid $gray-600;
            box-sizing: border-box;
            border-radius: 3px;
            width: 100%;
            height: 40px;
            margin-top: 10px;
            padding-left: 10px;
          }
          .notifyme-button-ok {
            background: $color-titulos;
            border-radius: 3px;
            border: navajowhite;
            width: 100%;
            height: 40px;
            @include rem('font-size', 12px);
            text-align: center;
            text-transform: uppercase;
            color: $white;
            font-weight: bold;
            margin: 10px 0;
          }
        }
        .error,
        .success {
          padding: 15px 0;
        }
      }
    }
    &--buy-button {
      padding: 12px 0;
      .buy-button {
        @extend %btn-product;
      }
    }
    &--sign {
      display: none;
      &-btn {
        border: 2px solid #2EBCCF;
        box-sizing: border-box;
        border-radius: 3px;
        display: block;
        height: 40px;
        line-height: 40px;
        font-weight: 700;
        @include rem('font-size', 14px);
        text-align: center;
        text-transform: uppercase;
        color: #2EBCCF;
        margin: 10px 0 0;
      }
    }
    &--shipping {
        margin-bottom: 33px;
      @include mobile {
        order: 1;
      }
      #popupCalculoFreteWrapper,
      .footer,
      .quantity {
        display: none;
      }
      .freight-values {
        @include mobile {
          margin-top: 20px;
        }
      }
      table {
        thead {
          width: 100%;
          th {
            width: 50%;
            padding: 8px 0;
            border-bottom: 1px solid #C4C4C4;
            border-top: 1px solid #C4C4C4;
            @include rem('font-size', 14px);
            color: $color-titulos;
            &:first-child {
              font-size: 0;
              &:before {
                content: "Valor do frete";
                @include rem('font-size', 14px);
              }
            }
          }
        }
        tbody {
          td {
            padding: 10px 0;
            @include rem('font-size', 14px);
          }
        }
      }
      .header {
        cursor: pointer;
        .close,
        h1 {
          display: none;
        }
        h2 {
          font-size: 14px;
          text-align: center;
          color: #2EBCCF;
        }
      }
      &.active-shipping {
        #ctl00_Conteudo_upnlContent {
          height: auto;
          opacity: 1;
          transition: all 1s;
        }
      }
      #ctl00_Conteudo_upnlContent {
        height: 0;
        opacity: 0;
        transition: all 1s;
        overflow: hidden;
      }
      fieldset {
        .prefixo {
          font-size: 0;
        }
        .freight-zip-box {
          @include rem('font-size', 12px);
          color: $gray-light;
          width: 50%;
          margin: 10px 0;
          border: 1px solid $gray-600;
          box-sizing: border-box;
          border-radius: 3px;
          height: 40px;
          padding-left: 10px;
        }
        #btnFreteSimulacao {
          background: $color-titulos;
          border-radius: 3px;
          outline: none;
          border: none;
          font-weight: bold;
          line-height: normal;
          @include rem('font-size', 12px);
          text-align: center;
          text-transform: uppercase;
          color: $white;
          width: 47%;
          height: 40px;
          margin: 0 0 0 3%;
          -webkit-appearance: none;
        }
        .lnkExterno {
          line-height: 18px;
          @include rem('font-size', 14px);
          color: $theme-color;
        }
      }
    }
    &--skuSelection {
      .one-sku & {
        .quantity-selector-container {
          padding: 15px;
          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          .quantitySelector {
            &:before {
              content: "Quantidade: ";
              margin-right: 20px;
              @include rem('font-size', 14px);
            }
            label {
              display: block;
              position: relative;
              width: 80px;
              height: 30px;
              text-align: center;
              input[type="number"] {
                width: 30px;
                height: 30px;
                border: 0;
                background: $white;
                @include rem('font-size', 12px);
                color: $gray;
                text-align: center;
              }
            }
            .quantity-selector-controller {
              position: absolute;
              height: 10px;
              width: 100%;
              top: 50%;
              transform: translateY(-50%);
              .qty-controller {
                width: 24px;
                border: 0;
                background: $white;
                &:focus,
                &:active {
                  outline: 0;
                }
                &--plus {
                  float: right;
                  &:before {
                    content: "";
                    @include sprite-background('icon-more');
                  }
                }
                &--minus {
                  float: left;
                  &:before {
                    content: "";
                    @include sprite-background('icon-less');
                    margin-bottom: 4px;
                  }
                }
              }
            }
          }
          .quantityText {
            display: none;
          }
        }
        .sku-selector-container {
          opacity: 0;
          transition: all 1s;
          .specification {
            display: none;
          }
          .Cor {
            .skuList {
              span {
                border-top: 1px solid $gray-light;
                border-bottom: 1px solid $gray-light;
                @include display-flex;
                @include justify-content(space-between);
                @include align-items(flex-end); // align-items: flex-end;
                padding: 14px;
              }
              input[type=radio] {
                -webkit-appearance: none;
                border: 1px solid $gray-light;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                display: inline-table;
                margin: 0;
              }
              input[type="radio"]:checked {
                background-color: $theme-color;
              }
            }
          }
          .skuList {
            .product__input-radio {
              @include display-flex;
              @include justify-content(space-between);
              padding: 14px;
              @include align-items(center);
              &:nth-child(odd) {
                background-color: $gray-lighter;
              }
              input[type=number]:disabled {
                background-color: $white;
              }
              input[type=number]::-webkit-inner-spin-button,
              input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              input[type=radio] {
                -webkit-appearance: none;
                border: 1px solid $gray-light;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                display: inline-table;
                margin: 0;
              }
              input[type="radio"]:checked {
                background-color: $theme-color;
              }
              label {
                @include rem('font-size', 14px);
                color: $gray;
                margin-left: -8%;
                &:last-child {
                  display: none;
                }
              }
              .item {
                &-block {
                  @include display-flex;
                  width: 60%;
                  @include align-items(center);
                  &-wrapper {
                    @include display-flex;
                    width: 50%;
                    background: $white;
                    @include align-items(center);
                    @include justify-content(center);
                    padding: 7px 0;
                    border-radius: 3px;
                    &.disable {
                      opacity: 0.2;
                    }
                    .less,
                    .more {
                      width: 25%;
                      font-size: 0;
                      cursor: pointer;
                    }
                    .less {
                      @include sprite-background('icon-less');
                    }
                    .more {
                      @include sprite-background('icon-more');
                    }
                    input {
                      width: 50%;
                      border: none;
                      text-align: center;
                      @include rem('font-size', 14px);
                      text-align: center;
                      color: $gray;
                      outline: none;
                    }
                  }
                }
                &-price {
                  font-weight: bold;
                  @include rem('font-size', 14px);
                  color: $gray;
                  width: 50%;
                  &:before {
                    content: 'R$ ';
                  }
                }
              }
            }
          }
        }
      }
    }
    &--informations {
      border-bottom: 1px solid #C4C4C4;
      padding-bottom: 30px;
      margin-bottom:40px;
      &.open {
        .productDescription {
          height: auto;
        }
        .product__info--informations-more {
          font-size: 0;
          &:before {
            content: 'Ver menos';
            font-size: 14px;
            position: relative;
          }
        }
      }
      &-more {
        display: none;
      }
      .productDescription {
        @include rem('font-size', 14px);
        color: #666666;
        line-height: 20px;
        li {
          list-style: none;
        }
        li {
          line-height: 20px;
        }
        p {
          padding-top: 15px;
        }
        br {
          display: none;
        }
      }
    }
    &--gift-list {
      clear: both;
      display: none;
      margin-bottom: 22px;
			@include mobile {
				padding: 0 15px;
			}
      .glis-popup-link {
        display: block;
        width: 100%;
        height: 32px;
        line-height: 32px;
        border: 1px solid #47352E;
        box-sizing: border-box;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        font-size: 0;
        background-color: #fff;
        @include transition(all 250ms);
        margin-top: 10px;
        &:before {
          content: '\f004';
          color: #000;
          @include rem('font-size', 14px);
          font-family: "Font Awesome 5 Regular";
          display: none;
          margin-right: 5px;
        }
        &:after {
            content: 'Adicionar à sua lista';
            @include rem('font-size', 14px);
            margin-left: 4px;
        }
        &:hover {
            background-color: #FBCD17;
            border-color: #FBCD17;
        }
        svg {
            @include rem('font-size', 14px);
        }
      }
    }
  }
  .glis-sku-single {
    display: none;
  }
  .bread-crumb {
    display: none;
  }
  .avaliacao {
    &0 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating0.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &5 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating0.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &10 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating1.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &15 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating1.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &20 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating2.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &25 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating2.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &30 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating3.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &35 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating3.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &40 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating4.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &45 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating4.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &50 {
      width:150px;
      height:19px;
      background:url("/arquivos/rating5.png");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
  @include mobile {
    .prateleira {
      &-assinatura {
        .slick-slide {
          width: 50%;
          margin: 0;
          padding: 25px 10px;
        }
        .slick-prev{
          bottom: -22px;
          &:before {
            content: '';
            @include sprite-background( 'arrow-prateleira-left');
            background-size: inherit;
        }
        }
        .slick-next{
          bottom: -22px;
          &:before {
            content: '';
            @include sprite-background( 'arrow-prateleira-right');
            background-size: inherit;
        }
        }
      }
      &__price {
        display: block;
        position: inherit;
      }
      &__view-product {
        display: block;
        position: inherit;
      }
    }
    &.u-center {
      padding: 0;
    }
    .bread-crumb {
      padding: 15px 15px 15px 35px;
      ul {
        li {
          &:last-child {
            left: 5px;
          }
        }
      }
    }
    &__block {
      @include flex-direction(column);
      &.one {
        margin-top: 0;
      }
      &.five,
      &.four,
      &.six,
      &.tree,
      &.two,
      .image,
      .middle,
      .product__info--buy-button,
      .product__info--notifyme,
      .product__info--shipping {
        padding: 0 15px;
      }
      &.two {
        margin: 50px 0;
      }
      &.tree {
        .specification-wrapper {
          h4 {
            &:before {
              @include rem('font-size', 18px);
            }
          }
          table {
            tr {
              background: $white;
              .name-field {
                padding-left: 0;
                width: 100%;
                display: block;
                border-top: 1px solid #E0E0E0;
                position: relative;
                &:after {
                  content: '+';
                  color: $theme-color;
                  font-size: 22px;
                  font-weight: bold;
                  position: absolute;
                  right: 5px;
                }
              }
              .value-field {
                padding-left: 0;
                width: 100%;
                display: block;
                display: none;
              }
            }
          }
        }
      }
      &.four {
        .prateleira-assinatura {
          h2 {
            @include rem('font-size', 18px);
            width: 70%;
            margin: 0 auto;
            line-height: 24px;
            margin-bottom: 10px;
            padding: 0;
          }
        }
      }
      &.six {
        // display: none;
      }
    }
    &__wrapper {
      &.image,
      &.info,
      &.middle {
        width: 100%;
      }
      &-box {
        border: none;
      }
      &.image {
        padding: 10px 15px 15px;
        .thumbs {
          padding: 0;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      &.middle {
        order: -1;
      }
      #brand,
      .product-reference {
        display: inline-block;
      }
      .product-reference {
        color: $gray-light;
        @include rem('font-size', 11px);
        &:before {
          content: "- ";
          margin-left: 5px;
        }
        .productReference {
          display: inline-block;
        }
      }
    }
    &__info {
      &--name {
        @include rem('font-size', 16px);
        line-height: 20px;
      }
      &--shipping {
        .header {
          padding: 20px 0;
        }
      }
      &--price {
        padding: 7px 15px;
        .descricao-preco {
          @include display-flex;
          @include align-items(baseline);
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          em {
            padding-right: 8px;
						width: 100%;
          }
          .valor-de {
            float: left;
            padding-bottom: 10px;
          }
        }
        .economia-de {
          display: none;
        }
      }
      &--rating {
        align-items: flex-end;
        -webkit-align-items: flex-end;
        padding: 5px 15px 20px;
        margin: 0;
      }
      &--skuSelection {
        padding: 0;
        .quantity-selector-container {
          padding: 0 15px 15px;
        }
      }
      &--informations {
        padding: 15px;
        border-bottom: none;
        &:before {
          content: "Descrição";
          font-weight: bold;
          line-height: 20px;
          @include rem('font-size', 16px);
          color: #47352E;
          padding: 18px 0;
          display: block;
          border-top: 1px solid #F0F0F0;
        }
        .productDescription {
          height: 68px;
          overflow: hidden;
        }
        &-more {
          background-color: white;
          width: 100%;
          display: inline-block;
          text-align: center;
          /* opacity: 1; */
          z-index: 99999;
          border-top: 1px solid #E0E0E0;
          padding-top: 12px;
          margin-top: 10px;
          line-height: 18px;
          @include rem('font-size', 14px);
          text-align: center;
          color: #2EBCCF;
          box-shadow: 0 -20px 19px 0 white;
          &:after {
            content: '';
            @include sprite-background('icon-arrow-down');
            margin-left: 20px;
            transition: all 200ms ease-in-out;
          }
        }
        &.open {
          .product__info--informations-more {
            margin-top: 16px;
            &:after {
              transform: rotate(180deg);
            }
          }
        }
      }
      &--similares {}
    }
  }
  #show {
    .easyzoom > a > img,
    .thumbs > li img {
      width: 100%;
      height: auto;
    }
  }
  .easyzoom-flyout {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
