.busca-vazia {
    .bread-crumb{
        display: none;
    }
    .title-search {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        align-items: center;
        padding-top: 30px;

        h3 {
            font-weight: bold;
            line-height: 48px;
            @include rem( 'font-size',48px);
            text-align: center;
            color: $color-textos;
            width: 50%;
            padding: 30px 0;

            a {
                font-weight: bold;
                @include rem( 'font-size',18px);
                text-transform: uppercase;
                color: $color-titulos;
            }
        }

        div {
            line-height: 18px;
            @include rem( 'font-size',24px);
            text-align: center;
            color: $color-textos;
            width: 35%;

            p {
                line-height: 35px;
            }

            span {
                font-weight: bold;
            }
        }
    }

    .sugestoes {
        .prateleira-assinatura {
            h2 {
                font-weight: bold;
                line-height: 36px;
                @include rem( 'font-size',24px);
                text-align: center;
                text-transform: uppercase;
                color: #47352E;
                margin: 115px 0 50px;
            }

            .slick {
                &-prev {
                    left: -8%;
                    top: 25%;

                    &:before {
                        content: '';
                        @include svg( 'arrow-banner-left-gray', 36px, 52px);
                    }
                }

                &-next {
                    right: -8%;
                    top: 25%;

                    &:before {
                        content: '';
                        @include svg( 'arrow-banner-right-gray', 36px, 52px);
                    }
                }

                &-dots {
                    top: calc(100% - 15px);
                    width: 90%;
                    margin: 0 5%;
                }
            }
        }
    }
    @include mobile {
        .title-search {
            img {
                width: 50%;
            }

            h3 {
                @include rem( 'font-size', 30px);
                width: 100%;
                line-height: 32px;
            }

            div {
                @include rem( 'font-size', 18px);
                width: 90%;
            }
        }

        .sugestoes {
            .prateleira-assinatura {
                h2 {
                    font-weight: bold;
                    line-height: 36px;
                    @include rem( 'font-size',24px);
                    text-align: center;
                    text-transform: uppercase;
                    color: #47352E;
                    margin: 115px 0 20px;
                }

                .slick {
                    &-prev {
                        left: 3%;
                        top: 100%;
                        &:before {
                            content: '';
                            @include sprite-background( 'arrow-prateleira-left');
                            background-size: inherit;
                        }
                    }

                    &-next {
                        right: 3%;
                        top: 100%;
                        &:before {
                            content: '';
                            @include sprite-background( 'arrow-prateleira-right');
                            background-size: inherit;
                        }
                    }

                    &-dots {
                        top: calc(100% - 15px);
                        width: 90%;
                        margin: 0 5%;
                    }
                }
            }
        }
    }
}
