<!-- Fale Conosco Form -->
<div class="contato-form-wrapper">
	<h2 class="mobile-only">Fale Conosco</h2>
	<form class="form-faleconosco" action="CT" method="POST" >
		<div class="grp-field grp-request">
			<label class="field-label" for="type-request">Assunto*</label>
			<select class="field-combo" name="type-request" required>
				<option>Tipo de solicitação</option>
				<option value="Esclarecer uma dúvida">Esclarecer uma dúvida</option>
				<option value="Fazer uma sugestão">Fazer uma sugestão</option>
				<option value="Fazer uma reclamação">Fazer uma reclamação</option>
				<option value="Fazer um elogio">Fazer um elogio</option>
				<option value="Troca e devolução">Troca e devolução</option>
				<option value="Cancelamento">Cancelamento</option>
				<option value="Desistência">Desistência</option>
			</select>
		</div>
		<div class="grp-field">
			<label class="field-label" for="name">Nome*</label>
			<input class="field-txt" type="text" name="name" placeholder="Nome*" required />
		</div>
		<div class="grp-field grp-email">
			<label class="field-label" for="email">Email*</label>
			<input class="field-txt" type="email" name="email" placeholder="E-mail*" required/>
		</div>
		<div class="grp-field grp-tel">
			<label class="field-label" for="telefone">Telefone*</label>
			<input class="field-ddd" type="text" name="telddd" maxlength="2" minlength="2" placeholder="DDD" required/>
			<input class="field-tel" type="text" name="telnumber" placeholder="Telefone" required/>
		</div>
		<div class="grp-field grp-cel">
			<label class="field-label" for="celular">Celular</label>
			<input class="field-ddd" type="text" name="celddd" maxlength="2" placeholder="DDD"/>
			<input class="field-tel" type="text" name="celnumber" placeholder="Telefone 2"/>
		</div>
		<div class="grp-field">
			<label class="field-label" for="numpedido">Número do Pedido</label>
			<input class="field-txt" type="text" name="numpedido" placeholder="pedido"/>
		</div>
		<div class="grp-field">
			<label class="field-label" for="cpf">CPF</label>
			<input class="field-txt" type="text" name="cpf" placeholder="cpf"/>
		</div>
		<div class="grp-field grp-msg">
			<label class="field-label" for="field-msg">Comentários</label>
			<textarea name="message" class="field-msg" placeholder="Deixe um comentário e, caso deseje cancelar sua compra, informe o motivo do cancelamento e o número do seu pedido.*" required></textarea>
		</div>
		<div class="grp-field grp-submit">
			<input class="bt bt-submit" type="submit" value="Enviar"/>
		</div>
	</form>
</div>
