.body-cart {
  background: $background-checkout;
}

.container-cart {
  >h1 {
    @extend %headline;
    border-bottom: 0;
    text-transform: none;
  }
  .clone-item {
    background: #2EBCCF;
    border-radius: 5px;
    font-family: 'Lato' !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 11px !important;
    text-align: center;
    text-transform: uppercase;
    color: #F2F2F2 !important;
    width: 162px;
    height: 28px !important;
    text-shadow: none;
    line-height: 28px !important;
    border: 0;
  }
  .item-attachments-name-recorrencia {
    // .item-attachments-item-image {
    //   display: none;
    // }
  }
  .cart {
    border: 0;
    background: #fff;
    padding: 0;
    @include border-radius(0);
  }
  .cart-items {
    font-size: 14px;
    color: $gray;
    thead {
      font-size: 11px;
      text-transform: uppercase;
      color: #000;
      font-weight: 400;
      border-bottom: 1px solid $sand;
      th {
        @extend %subtitulo;
        @include rem( 'font-size', 14px);
        font-size: 14px;
        padding: 20px;
        line-height: 10px;
        font-family: Lato;
        color: #666;
        font-weight: 700;
      }
    }
    td {
      @extend %texto-corrido;
      padding: 15px 8px;
      &.product-image {
        padding-left: 20px;
        img {
          height: 65px;
          max-width: 65px;
          width: 65px;
        }
      }
      &.product-name {
        width: 300px;
        >a {
          line-height: 1em;
          font-size: 14px;
          color: #666;
          font-family: Lato;
        }
        a {
          @extend %nome-produto;
          @include rem( 'font-size', 14px);
        }
        .brand {
          line-height: 15px;
          margin: 10px 0 5px;
          &-name {
            @extend %texto-escuro;
            @include rem( 'font-size', 12px);
            color: #828282;
            font-family: Lato;
          }
        }
        .seller {
          @extend %texto-corrido;
          @include rem( 'font-size', 12px);
          color: #828282;
          font-family: Lato;
        }
        .add-item-attachment-container {
          a {
            background: $theme-color;
            color: #fff;
            text-transform: uppercase;
            font-family: Lato;
            font-size: 11px;
          }
        }
      }
      &.shipping-date {
        .shipping-estimate-date {
          font-size: 14px;
          font-family: Lato;
          color: #666;
        }
      }
      &.product-price {
        @extend %preco-por;
        text-align: left;
        color: #666;
        font-family: Lato;
        .list-price {
          @extend %preco-de;
          line-height: 12px;
          @include rem( 'font-size', 12px);
          font-family: Lato;
          color: #828282;
          margin-left: 22px;
          line-height: 23px;
        }
        .best-price {
          margin-left: 20px;
        }
      }
      &.quantity {
        color: $black;
        .item-quantity-change-decrement {
          vertical-align: -webkit-baseline-middle;
          .icon {
            display: none;
          }
          &:before {
            content: "-";
            color: $theme-color;
            font-size: 30px;
            font-weight: bold;
          }
        }
        .item-quantity-change-increment {
          .icon {
            display: none;
          }
          &:before {
            content: "+";
            color: $theme-color;
            font-size: 20px;
            font-weight: bold;
          }
        }
        input {
          width: 35px;
          height: 27px;
          border: 1px solid #eee;
          font-family: Lato;
          color: #666;
          font-weight: 300;
          @extend %box-SKU;
        }
      }
      &.quantity-price {
        @extend %preco-por;
        color: #666;
        font-family: Lato;
      }
      .item-link-remove {
        .icon {
          display: none;
        }
        &:before {
          content: "";
          @include sprite-background( 'icon-remove');
        }
      }
    }
  }
  @include mobile {
    .cart-items {
      td {
        &.product-image {
          padding-left: 0;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.full-cart {
  .summary-totalizers {
    color: $black;
    font-size: 14px;
    font-weight: 400;
    tfoot {
      .info,
      .monetary {
        font-size: 18px;
        text-align: right;
        color: #666666;
      }
    }
    .monetary {
      padding: 14px 0;
      text-align: right;
      a {
        color: $theme-color;
      }
    }
    .empty {
      width: auto;
      padding: 0;
    }
    tr {
      @extend %texto-corrido;
      @include rem( 'font-size', 14px);
      border-bottom: 1px solid $gray-100;
    }
    td {
      padding: 14px 8px;
    }
    .cart-reset-postal-code {
      color: black;
      margin-left: 15px;
      text-decoration: none;
    }
  }
  .monetary {
    &.form-postal-code {
      .help {
        &.error {
          @include rem( 'font-size', 12px);
          margin: 5px 0;
        }
      }
      .summary-postal-code-service {
        a {
          @include rem( 'font-size', 12px);
          display: inline-block;
          margin-top: 10px;
        }
      }
    }
  }
  .postal-code-for-sla {
    @include rem( 'font-size', 14px);
  }
  .cart-links-bottom {
    font-family: Lato;
    font-size: 14px;
    color: $theme-color;
    .btn-place-order-wrapper {
      a {
        font-size: 14px;
        padding: 24px 36px;
        line-height: 3px;
        font-family: Lato;
        text-transform: uppercase;
        border-radius: 0;
        background: $theme-color;
      }
    }
  }
}

.summary-coupon {
  float: left;
  .coupon-fieldset {
    .coupon-label {
      @extend %subtitulo;
      @include rem( 'font-size', 16px);
      padding-bottom: 17px;
      label {
        font-size: 14px;
        font-family: lato;
        color: #666;
      }
    }
    .coupon-fields {
      >span {
        position: relative;
        display: block;
      }
      input {
        width: 100%;
        height: 34px;
        border: none;
      }
      button {
        font-size: 12px;
        color: white;
        text-transform: uppercase;
        background: $theme-color;
        border: none;
        font-family: Lato;
        position: absolute;
        top: 2px;
        right: 0;
        height: 30px;
      }
      +span {
        position: relative;
        #cart-coupon {
          width: 100%;
          height: 34px;
        }
        #cart-coupon-add {
          position: absolute;
          right: 1px;
          top: -6px;
          height: 30px;
        }
      }
    }
  }
}

#cart-to-orderform {
  font-size: 14px;
  padding: 24px 36px;
  line-height: 3px;
  border-radius: 5px;
  border: 0;
  text-shadow: none;
}

@include desktop {
  .summary-coupon {
    .coupon-fieldset {
      >div {
        display: block !important;
      }
    }
    .link-coupon-add {
      display: none;
    }
  }
  .product-name .brand-name,
  .product-name .seller {
    display: inline-block;
  }
  .product-name .seller {
    margin-bottom: 15px;
  }
  .shipping-fieldset {
    .shipping-fields {
      position: relative;
    }
    #summary-postal-code {
      border-radius: 5px;
      width: 100%;
      display: block;
      max-width: 100%;
      height: 34px;
    }
    #cart-shipping-calculate {
      position: absolute;
      right: 2px;
      top: 2px;
      background: #2EBCCF;
      border-radius: 3px;
      height: 30px;
      font-weight: bold;
      line-height: normal;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      color: #F2F2F2;
      text-shadow: none;
    }
  }
}

@include mobile {
  .cart-fixed {
    min-height: 200px;
  }
  #cart-to-orderform {
    border-radius: 3px;
  }
  body .container-cart {
    padding: 0 !important;
    >h1 {
      padding: 15px 15px 10px;
    }
    .cart {
      border-bottom: 2px solid #e4e4e4;
    }
    .cart-links-bottom,
    .summary-template-holder {
      padding: 0 15px;
    }
    .summary-template-holder {
      width: 100%;
    }
    .summary-template-holder .summary .shipping {
      width: 200px;
    }
  }
  .summary-coupon {
    margin: 10px 0 20px;
    .coupon-fieldset {
      .coupon-label {
        font-size: 12px;
        padding-bottom: 8px;
      }
    }
    .coupon-data {
      float: left;
    }
  }
  .full-cart {
    .summary-totalizers {
      font-size: 12px;
      tfoot td {
        font-size: 12px;
      }
    }
  }
  .link-choose-more-products-wrapper {
    margin: 5px 0 30px;
    display: block;
  }
  .shipping-fieldset {
    float: right;
    .btn {
      font-size: 12px;
      background: #2EBCCF;
      font-family: Lato;
      color: white;
      text-transform: uppercase;
    }
    input.postal-code {
      width: 100px;
      max-width: 90px;
      height: 32px;
      border-radius: 0;
      padding-right: 0;
      color: #666;
    }
  }
  .full-cart .summary-totalizers {
    .info {
      width: 65%;
      text-align: start;
    }
    .cart-reset-postal-code {
      margin-left: 5px;
      color: black;
    }
  }
}

@media (max-width: 490px) {
  .full-cart .cart table tbody tr {
    padding: 10px;
  }
  .full-cart .cart table tbody tr td.product-name {
    margin-left: 80px;
    width: 70%;
  }
  .container-cart .cart-items td.product-image {
    padding-left: 10px;
  }
  .full-cart .cart table tbody tr td.quantity {
    width: 81px;
    padding: 0;
    margin-left: 80px;
    margin-top: 10px;
  }
  .full-cart .cart table tbody tr td.quantity input {
    width: 35px;
  }
  .item-quantity-change {
    width: 22px;
  }
  .full-cart .cart table tbody tr td.item-remove {
    top: 3px;
    right: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container-cart {
    .cart-items {
      td.product-price {
        .best-price {
          font-size: 15px;
        }
      }
    }
  }
}
