.container-order-form{

    button {
        border: none;
        text-shadow: none;
    }
    .span12{
        body{
            background: white;
        }
    }
    >h1{
        border-bottom: 0px;
    }

    .btn-submit-wrapper{
        button{
            background: #2EBCCF;
            font-size: 14px;
            font-family: Lato;
            text-transform: uppercase;
            border-radius: 0;
        }
    }


    .step{
        background: $background-checkout;
        border: 1px solid $gray-100;
        @include border-radius(0 !important);
        font-size: 13px;
        padding: 10px;

        .box-info{
            @include rem('font-size', 14px);
            font-family: "Lato", sans-serif;
        }

        .accordion-inner, .steps-view{

            .text,
            .select{
                label{
                    @extend %texto-corrido;
                    font-size: 13px;
                    padding-bottom: 10px;
                }
                input{
                    height: 40px;
                }
            }
        }

        .accordion-inner{
            p,.exempt-si-text{

                padding-bottom: 20px;

                &.client-notice,
                &.submit,
                &:last-child{
                    padding-bottom: 0px;
                }

                &.ship-postal-code {
                    padding-bottom: 10px;
                }

                &[data-bind*="fadeVisible: emailSuggestionDomain"]{
                    margin-top: -10px;
                }
            }
        }

        .accordion-heading {
            .accordion-toggle {
                > i[class^="icon-"] {
                    margin-right: 10px;
                }
            }
        }

        &.active{
            background: $white;
            border: 0px;

            .accordion-inner{
                p,.exempt-si-text{
                    color: $color-headline;
                }

                .cancel-address-form {
                    padding-bottom: 10px;
                }

                .ship-filled-data {
                    line-height: 1.5em;

                    .link-edit {
                        float: right;
                    }
                }
            }
        }

        .btn-large{
            width: 100%;
            font-size: 13px;
            letter-spacing: 1px;
            font-weight: 600;
            border-radius: 5px;
            text-shadow: none;
            box-shadow: none;
        }
    }

    .accordion-toggle{

        > span{
            @extend %headline-inativo;
            @include rem('font-size', 16px);
            text-transform: initial;
        }

        &-active {
            > span{
                @extend %headline;
                color: $black;
            }
            [class^="icon-"], [class*=" icon-"]{
                font-size: 22px;
            }
        }

        .link-box-edit {
            @include border-radius(0);
            background: transparent;
            border: 0;
            @include box-shadow(none);
            color: $blue-100;
            outline: none;
            font-size: 22px;
            right: -2px;
            top: 1px;
        }

    }


    // Dados Pessoais
    #client-profile-data{
        .box-client-info-pf{
            .client-notice{
                font-size: 14px;
                font-family: Lato;
                color: #666;
                width: 90%;
            }
            .input-xlarge{
                width: 272px;
                background: #f1f1f1;
            }
            .input-small {
                width: 130px;
                background: #f1f1f1;
            }
        }
        .newsletter{
            .newsletter-label{
                input{
                    width: 20px;
                    height: 20px;
                }
                span{
                    font-size: 14px;
                    font-family: Lato;
                    color: #666;
                    line-height: 33px;
                    margin-left: 10px;
                }
            }
        }
        a{
            color: #2EBCCF;
        }
    }

    .box-client-info-pj{
        .links{
            margin: 10px 0;
            .link a{
                font-size: 14px;
                font-family: Lato;
                color: #2EBCCF;
            }
        }
    }
    //

    //Entrega
    #shipping-data{
        .sla-items-list{
        }
        .btn-group-vertical{
            >.btn{
                @include border-radius(0);
                &:first-child{

                }
            }
        }
        .label-vertical-group{
            border: 1px solid $gray-200;
            color: $gray-light;
            padding: 10px;
            text-align: left;

            .shipping-option-item-text-wrapper {
                font-size: 12px;
                font-weight: normal;
                text-transform: initial;
            }

            &.active{
                background: $white;
                border-color: $gray-200;
                @include box-shadow(none);
                color: $black;
            }
        }
        .icon-ok-circle, .icon-circle-blank {
            right: 10px;
            top: 50%;
            margin-top: -10px;
        }
        a{
            color: #2EBCCF;
        }
        input{
            background: #f1f1f1;
        }
        .shipping-options {
            h4{
                span{
                    width: 65%;
                    font-size: 14px;
                    font-family: Lato;
                    color: #000;
                    font-weight: 400;
                }
            }
        }
    }
    input.postal-code {
        width: 90px;
        max-width: 90px;
        background: #f1f1f1;
    }
    //

}


// Pagamento

.payment-group{
    &-item{
        color: $gray-light;
        border: 1px solid $gray-200;
        @include border-radius(0);
        &:hover{
            color: $gray-light;
        }
        &.active{
            color: $black;
            .payment-group-item-text{
                &:before{
                    @include opacity(1);
                }
            }
        }
        &-text{
            position: relative;
            background-image: none !important;
            font-size: 14px;
            font-family: Lato;
            color: #666;

            &:before{
                content: '';
                position: absolute;
                right: 0;
                top: 11px;
                @include opacity(.5);

                #payment-group-bankInvoicePaymentGroup &{
                  @include sprite-background('icon-boleto');
                }

                #payment-group-creditCardPaymentGroup &{
                  @include sprite-background('icon-card');
                }
            }

        }
    }
    &-list-btn {
        width: 214px;
    }
}
#payment-discounts-code{
    height: 32px;
}
.gift-card-section {
    margin-left: 214px;

    #btn-add-gift-card{
        padding: 0 7px;
    }
}

.payment-security{
    background: transparent;
    text-align: left;

    &-text{
        padding-top: 1px;
        text-transform: uppercase;
    }
    .icon-lock{
        float: left;
        margin-right: 7px;
    }
}

.card-flag-label {
    margin-right: 8px;

    input{
        background: $white;
    }
}

.box-installments{
  margin: 20px 0;
}

.payment-card-lash {
    font-size: 13px;
}


.steps-view,
.payment-group-item.active,
.gift-card-section,
.CardForm {
    background: $white;
    border-color: $gray-400;

    input{
        background: #f1f1f1;
        border-radius: 0;
        width: 90%;
        margin-top: 5px;
        height: 30px;
        font-size: 14px;
        font-family: Lato;
    }

    .PaymentCardCVV,
    .PaymentCardDueDate {
        label{
            width: 100%;
        }
        input{
            width: 35%;
        }
        p select{
            background: #f1f1f1;
            width: 115px;
        }

    }

    .input-xlarge {
        width: 90%;
        background: #f1f1f1;
        max-width: 90%;
    }

    .card-flag-radio,
    #address-toggle-0{
        height: 14px;
    }

    .PaymentCardFlags,
    .PaymentInstallments,
    .PaymentCardHolderName,
    .PaymentCardCVV,
    .PaymentCardHolderDocument,
    .BillingAddress,
    .PaymentCardDueDate {
        margin-top: 13px;

        .AddressToggle{
            input{
                width: 20px;
            }
            label{
                font-size: 14px;
                font-family: Lato;
                color: #666;
                width: 90%;
            }
        }
    }

    .PaymentCardDueDate {
        margin-top: 10px;
    }

    span.error{
        width: 115px;
        font-size: 13px;
    }
}

.ChangeNumberOfPayments{
        background: white;
        text-decoration: none;
        color: #2EBCCF;
        font-size: 20px;
        a{
            font-size: 14px;
            font-family: Lato;
        }
    }

.steps-view,
.gift-card-section {
    @include border-radius(0);
}


.steps-view{
    background: white;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}

.FormFieldLabel {
    font-size: 12px;
    font-family: Lato;
    color: #666;
}

.SecurityEnvironmentIcon{
    display: none;
}

//

// Resumo do pedido

.cart-fixed {
    > h2,
    .summary-cart-template-holder,
    .summary-template-holder{
        @include rem('font-size', 16px);
        border-radius: 0;
        background: $white;
        font-weight: 400;
        padding: 17px 15px 15px;
        text-align: left;
        color: #666;
    }
    .summary-template-holder {
        position: relative;

        &:before {
            background-image: url('/arquivos/checkout-shadow_03.png');
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 95%;
            content: '';
            display: inline-block;
            height: 20px;
            left: 0;
            position: absolute;
            top: 100%;
            width: 100%;
        }
    }
    > h2{
        @extend %headline-small;
        margin: 0;
        text-transform: initial;
    }
    .summary-cart-template-holder{
        padding: 0;
    }
    .summary-template-holder{
        border-top: 1px solid  $gray-200;
    }
}

.mini-cart {
    .cart-items{
        padding-bottom: 40px;
    }
    .item {
        .fn{
            @extend %nome-produto;
            @include rem('font-size', 12px);
            // color: $black;
        }
    }

    .quantity {
        @extend %botao-positivo;
        background: #222222;
        box-shadow: none;
        top: 7px;
        left: 8px;
        border: 0;
        min-height: 16px;
        min-width: 16px;
        @include box-shadow(0);
        @include rem('font-size', 10px);
    }

    .price{
        color: #666;
        @extend %preco-por;
        @include rem('font-size', 14px);
        padding-top: 10px;
    }
    .link-cart {
        margin: 20px 15px;
        float: left;

        a{
            font-size: 13px;
            color: #2EBCCF;
        }
    }
    .hproduct{
        padding: 10px;
        margin-top: 0;
        .product-name{
            color: #666;
        }
    }
    .totalizers {
        &-list{
            td,
            .info{
                @extend %texto-corrido;
                color: #666666 !important;
                font-size: 14px !important;
                font-weight: 300 !important;
                padding: 7px 0;
            }
        }

        &.summary-totalizers.cart-totalizers {
            margin-bottom: 0;

            .accordion-group {
                margin-bottom: 0;
            }
        }
    }
    tfoot{
        color: $black;
        .monetary,
        .info {
            @extend %texto-escuro;
            color: #666666 !important;
            font-size: 18px !important;
            font-weight: normal !important;
            padding: 7px 0 0 !important;
        }
    }

    #orderform-minicart-to-cart {
        @include rem('font-size', 14px);
        font-weight: 400;
        position: relative;
        z-index: 1;
    }

    .summary-cart-template-holder{
        overflow: hidden;
    }
}

.badge {
    border: 1px solid $gray-200;
    color: $gray-light;
    background-color: $white;
}

.payment-confirmation-wrap{
    padding: 0;
    background: $background-checkout;
}
#payment-data-submit{
    width: 100%;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    background: #2EBCCF;
    font-family: Lato;
    text-transform: uppercase;

    i {
        display: none;
    }
}

//CARD
.card-data {
    .card-ready-for-typing {


        .card-scanner-label-all-fields {
            label {
                @extend %texto-corrido;
            }

            input[name="cardNumber"] {
                display: inline-block;
                margin: 0;
                position: relative;
                width: 100%;
            }

            .box-installments {
                .select {
                    select[id^="creditCardpayment-card-"] {
                        padding: 10px;
                        height: 45px;
                    }
                }
            }

            .payment-card-due {
                label {
                    padding-bottom: 10px;
                    width: 100%;

                    span {
                        font-size: 13px !important;
                        @extend %texto-corrido;
                    }
                }

                .payment-card-due-month,
                .payment-card-due-year {
                    select {
                        padding: 10px;
                        height: 45px;
                        width: 85px;
                    }
                }

                .payment-card-lash {
                    padding: 12px 5px;
                }
            }
        }

        .payment-card-cvv {
            position: relative;

            label {
                width: 100%;

                span {
                    font-size: 13px !important;
                    @extend %texto-corrido;
                }
            }

            input.card-cvv {
                width: 150px;
            }

            .cvv-help {
                top: 85px;

                &-message {
                    display: none;
                }
            }
        }

        .holder-document {
            margin-bottom: 20px;
        }

        .payment-card-cvv span.error,
        .saved-cc-ccv span.error {
            margin-left: 0;
        }
    }
}

.PaymentCardValue{
    margin-top:10px;
    @include mobile{
        width:80%;
    }
    .input-prepend{
        width:100%;
        .add-on{
            height:30px;
            margin-top:5px;
        }
        .card-value{
            width:90%;
        }
    }
}
.AddressToggle{
    #address-toggle{
        &-0,&-1{
        width:14px;
        margin-top:0px;
        margin-bottom:24px;
        }
        &-1{
            margin-top:-8px;
        }
    }
}

@include mobile{
    body{
        // background: #fff;
    }
    .orderform-template-holder .client-profile-data .client-phone{
                float: left !important;
                width: 100% !important;
            }
    #client-profile-data{
        .box-client-info-pf{
            .client-document{
                display: block;
                width: 100%;
            }

            .input-xlarge{
                width: 250px !important;
                background: #fff !important;
            }
            .input-small {
                width: 250px !important;
                background: #fff !important;
            }
        }
    }

    .CardForm {

        input{
            width: 100%;
            background: white;
        }
        .input-xlarge {
            width: 100%;
            background: #fff;
            max-width: 100%;
        }

        .PaymentCardDueDate{
            p select{
                background: #fff;
                width: 100px;
            }
        }

        .BillingAddress {
            .AddressToggle label{
                width: 100%;
            }
        }
    }
    .ChangeNumberOfPayments{
        font-size: 37px;
    }
    #client-profile-data{
        .newsletter{
            .newsletter-label{
                width: 260px;
                span{
                    font-size: 13px !important;
                }
            }
        }
    }

    .container-order-form #shipping-data input {
        background: #fff;
    }
}


@media (max-width: 979px){
    .payment-data .gift-card-section, .payment-data .payment-discounts-alert {
        margin-left: 224px;
    }
    #payment-discounts-code {
        width: 61%;
    }
}

@media (max-width: 767px){
    .payment-data .gift-card-section {
        label[for="payment-discounts-code"]{
            display: block;
        }
        margin-left: 0px;
    }
    #payment-discounts-code {
        width: 62%;
    }
    .payment-data .link-gift-card {
        margin: 10px 0 15px 0;
        left: 0;
        padding-bottom: 0 !important;
    }
}
