$ico-close: "\e900";
$ico-check-on-path1: "\e901";
$ico-check-on-path2: "\e902";
$ico-check-on-path3: "\e903";
$ico-ruler: "\e904";
$ico-whatsapp: "\e905";
$ico-arrow-bold-left: "\e906";
$ico-arrow-bold-right: "\e907";
$ico-arrow-bold-up: "\e908";
$ico-arrow-up: "\e909";
$ico-arrow-bold-down: "\e90a";
$ico-arrow-down: "\e90b";
$ico-arrow-left: "\e90c";
$ico-mail: "\e90d";
$ico-facebook: "\e90e";
$ico-twitter: "\e90f";
$ico-check-off-path1: "\e910";
$ico-check-off-path2: "\e911";
$ico-table-view: "\e912";
$ico-list-view: "\e913";
$ico-arrow-right: "\e914";
$ico-heart: "\e915";
$ico-user: "\e916";
$ico-bag: "\e917";
$ico-search: "\e918";

@font-face {
    font-family: 'xerox';
    src:    url('/arquivos/xerox.eot.css?ybjggu');
    src:    url('/arquivos/xerox.eot.css?ybjggu#iefix') format('embedded-opentype'),
        url('/arquivos/xerox.ttf.css?ybjggu') format('truetype'),
        url('/arquivos/xerox.woff.css?ybjggu') format('woff'),
        url('/arquivos/xerox.svg.css?ybjggu#xerox') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'xerox' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-close {
    &:before {
        content: $ico-close;
    }
}
.ico-check-on .path1 {
    &:before {
        content: $ico-check-on-path1;
        color: rgb(255, 255, 255);
    }
}
.ico-check-on .path2 {
    &:before {
        content: $ico-check-on-path2;
        margin-left: -1em;
        color: rgb(203, 203, 203);
    }
}
.ico-check-on .path3 {
    &:before {
        content: $ico-check-on-path3;
        margin-left: -1em;
        color: rgb(0, 0, 0);
    }
}
.ico-ruler {
    &:before {
        content: $ico-ruler;
    }
}
.ico-whatsapp {
    &:before {
        content: $ico-whatsapp;
    }
}
.ico-arrow-bold-left {
    &:before {
        content: $ico-arrow-bold-left;
    }
}
.ico-arrow-bold-right {
    &:before {
        content: $ico-arrow-bold-right;
    }
}
.ico-arrow-bold-up {
    &:before {
        content: $ico-arrow-bold-up;
    }
}
.ico-arrow-up {
    &:before {
        content: $ico-arrow-up;
    }
}
.ico-arrow-bold-down {
    &:before {
        content: $ico-arrow-bold-down;
    }
}
.ico-arrow-down {
    &:before {
        content: $ico-arrow-down;
    }
}
.ico-arrow-left {
    &:before {
        content: $ico-arrow-left;
    }
}
.ico-mail {
    &:before {
        content: $ico-mail;
    }
}
.ico-facebook {
    &:before {
        content: $ico-facebook;
    }
}
.ico-twitter {
    &:before {
        content: $ico-twitter;
    }
}
.ico-check-off .path1 {
    &:before {
        content: $ico-check-off-path1;
        color: rgb(255, 255, 255);
    }
}
.ico-check-off .path2 {
    &:before {
        content: $ico-check-off-path2;
        margin-left: -1em;
        color: rgb(203, 203, 203);
    }
}
.ico-table-view {
    &:before {
        content: $ico-table-view;
    }
}
.ico-list-view {
    &:before {
        content: $ico-list-view;
    }
}
.ico-arrow-right {
    &:before {
        content: $ico-arrow-right;
    }
}
.ico-heart {
    &:before {
        content: $ico-heart;
    }
}
.ico-user {
    &:before {
        content: $ico-user;
    }
}
.ico-bag {
    &:before {
        content: $ico-bag;
    }
}
.ico-search {
    &:before {
        content: $ico-search;
    }
}
