@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font-textos: "Lato", sans-serif;
$font-titulos: "Lato", sans-serif;
$font-default: "Lato", sans-serif;
$font-icon:'xerox', sans-serif;

// = Colors e5e5e5
$theme-color: #2EBDCE;
$base-color: #2EBDCE;
// -----------------------------

// Graphic chart
$red: #eb212e;
$red-50: #EA2A36;
$red-100: #dd4b39;
$blue: #1894c4;
$blue-bold: #1AA7B7;
$blue-light: #D4FAFF;
$blue-100: #1d84d3;
$green: #1e970a;
$gray: #666;
$gray-light: #C4C4C4;
$gray-lighter: #f0f0f0;
$gray-100: #e6e6e6;
$gray-200: #eee;
$gray-300: #e4e4e4;
$gray-400: #f8f8f8;
$gray-500: #999999;
$gray-600: #E0E0E0;
$gold: #d5a00f;
$sand: #e5e5e5;
$black: #000;
$white: #fff;

$color-titulos: #47352E;
$color-textos: #666666;
$background-checkout: #f1f1f1;

// Text
$color-text-base: #555555;
$default-font-size: 16px;// !important

// link
$color-link: $color-titulos;
$color-link-hover: darken($color-titulos, 10%);

// Selection
$selection-color: $color-titulos;
$selection-background: #000;

// = Grid
// -----------------------------


// = Page Width Selection
// -----------------------------
$page-width-desktop: 1200px;
$page-maxwidth-desktop: 1600px;
$page-minwidth-desktop: 737px;
$page-maxwidth-mobile-landscape: 736px;
$page-minwidth-mobile-landscape: 415px;
$page-maxwidth-mobile-portrait: 414px;
$page-minwidth-mobile-portrait: 320px;

// Max width wrapper
$page-width: $page-width-desktop;
