#set($id = $product.Id)
#set($idSku = $product.productVariantId)
#set($name = $product.Name)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)

<div class="fakesku__item" title="$escapedName" itemscope>
   <span class="fakesku__item-opcao">
      <input type="radio" name="sku" id="$id" data-sku="$idSku" value="$name" />
      <label for="$id"></label>
   </span>
   <span class="fakesku__item-name">$name</span>
   <span class="fakesku__item-preco">
      $product.BestPrice
   </span>
   <span class="fakesku__item-quantidade">
      <div class="controle-quantidade">
         <button class="controle-quantidade__btn controle-qt-minus">-</button>
         <input type="text" name="controle quantidade" class="controle-quantidade__val" value="1" min="1" max="">
         <button class="controle-quantidade__btn controle-qt-plus">+</button>
      </div>
   </span>
</div>